/**
 * Admin UX - Buttons
 * @author: Adarsh Pastakia
 */
@import "external/ladda";

.btn-round {
    border-radius: 2em;
}

.btn-icon-top {
    text-align: center;

    > span {
        display: block;
    }
}

.btn {
    margin  : .1rem .2rem;
    position: relative;

    .ux-badge {
        @include position(absolute, -.5em -.5em null null);
    }
}

.btn-group {
    margin: .1rem .2rem;

    .btn {
        margin: 0;
    }
}

.btn-primary:focus,
.btn-primary:hover {
    background: $ux-primary-dark;
}

.btn-info:focus,
.btn-info:hover {
    background: $ux-info-dark;
}

.btn-danger:focus,
.btn-danger:hover {
    background: $ux-danger-dark;
}

.btn-success:focus,
.btn-success:hover {
    background: $ux-success-dark;
}

.btn-warning:focus,
.btn-warning:hover {
    background: $ux-warning-dark;
}
