/**
 * Admin UX - Bootstrap Card Variations
 * @author: Adarsh Pastakia
 */
@mixin card-style($bg, $border, $color) {
	background : $bg;
	border     : .1em solid $border;

	.card-block,
	.card-title,
	.card-blockquote {
		color : $color;
	}

	.card-header {
		background : $border;
		border     : none;
		color      : $ux-white;
	}
	.card-footer {
		background   : rgba($ux-white, .5);
		border-color : $border;
		color        : $ux-black;
	}

	&.card-curl:before {
		border-color : $border $body-bg-color;
	}
}

.ux-admin {
	.card-curl {
		&:before {
			content      : "";
			position     : absolute;
			top          : -.1em;
			left         : -.1em;
			border-width : 0 0 1.5em 1.5em;
			border-style : solid;
			transition   : all 0.5s;
			border-color : $ux-gray-medium $body-bg-color;
			box-shadow   : 0 1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
		}

		&:hover:before {
			border-width : 0 0 2em 2em;
		}
	}

	a.card-block {
		text-decoration : none !important;
		color           : inherit !important;
		display         : block;
		transition      : background .5s;

		&:hover {
			background : rgba($white, .5);
		}

		&:active {
			box-shadow : 0 0 1em 0 $ux-gray-medium inset;
		}
	}

	//.card-img-top, .card-img-bottom, .card-img {
	//	height          : 12em;
	//	background      : none no-repeat center center;
	//	background-size : cover;
	//	border-radius   : 0;
	//
	//	&.sm {
	//		height : 8em;
	//	}
	//	&.lg {
	//		height : 16em;
	//	}
	//}
	//
	//.feature-side {
	//	@include flex-row(stretch, flex-start, true);
	//	.card-header, .card-footer {
	//		@include flex(0 0 100%);
	//	}
	//	.card-img-left, .card-img-right {
	//		@include flex(1 0 12em);
	//		min-height : 12em;
	//
	//		&.sm {
	//			@include flex-basis(8em);
	//			min-height : 8em;
	//		}
	//		&.lg {
	//			@include flex-basis(16em);
	//			min-height : 16em;
	//		}
	//	}
	//	.card-block {
	//		@include flex(1 1 16em);
	//	}
	//}

	.card {
		.card-header {
			font-size   : 2em;
			font-weight : 300;
		}
		.card-title {
			font-size : 1.5em;
		}

		.card-img {
			height          : 12em;
			background      : none no-repeat center center;
			background-size : cover;
			border-radius   : 0;

			&.sm {
				height : 8em;
			}
			&.lg {
				height : 16em;
			}
		}

	}

	.card-primary {
		@include card-style($ux-primary, $ux-primary-dark, $ux-white);
	}
	.card-secondary {
		@include card-style($ux-secondary, $ux-secondary-dark, $ux-white);
	}
	.card-info {
		@include card-style($ux-info, $ux-info-dark, $ux-white);
	}
	.card-danger {
		@include card-style($ux-danger, $ux-danger-dark, $ux-white);
	}
	.card-success {
		@include card-style($ux-success, $ux-success-dark, $ux-white);
	}
	.card-warning {
		@include card-style($ux-warning, $ux-warning-dark, $ux-white);
	}

	.card-primary-light {
		@include card-style($ux-primary-light, $ux-primary, $ux-black);
	}
	.card-secondary-light {
		@include card-style($ux-secondary-light, $ux-secondary, $ux-black);
	}
	.card-info-light {
		@include card-style($ux-info-light, $ux-info, $ux-black);
	}
	.card-danger-light {
		@include card-style($ux-danger-light, $ux-danger, $ux-black);
	}
	.card-success-light {
		@include card-style($ux-success-light, $ux-success, $ux-black);
	}
	.card-warning-light {
		@include card-style($ux-warning-light, $ux-warning, $ux-black);
	}
}