/**
 * Admin UX - Bootstrap Grid Overrides
 * @author: Adarsh Pastakia
 */

.ux-admin {
	.ux-col-fill {
		@include flex(1 1 0);
	}

	.col-stretch {
		@include flex-column(stretch, flex-start);
		> div:last-child {
			@include flex(1 0 0);
		}
	}

	.ux-col-min-sm {
		min-width : 8em;
	}
	.ux-col-min-md {
		min-width : 12em;
	}
	.ux-col-min-lg {
		min-width : 16em;
	}

}