.ux-admin {
    .label {
        font-size   : .9em;
        font-weight : 400;
        padding     : .3em .6em .35em;
        margin      : .1em .2em;
    }

    .label-sm {
        font-size   : .7em;
        font-weight : 500;
    }

    .label-lg {
        font-size   : 1.4em;
        font-weight : 400;
    }

    @media (max-width : 30em) {
        .display-1 {
            font-size : 5.5rem;
        }

        .display-2 {
            font-size : 5rem;
        }

        .display-3 {
            font-size : 4rem;
        }

        .display-4 {
            font-size : 3rem;
        }
    }
    @media (max-width : 20em) {
        .display-1 {
            font-size : 5rem;
        }

        .display-2 {
            font-size : 4rem;
        }

        .display-3 {
            font-size : 3rem;
        }

        .display-4 {
            font-size : 2.5rem;
        }
    }
}