.label {
    font-size  : .9em;
    font-weight: 400;
    padding    : .3em .6em .35em;
}

.label-sm {
    font-size  : .7em;
    font-weight: 500;
}

.label-lg {
    font-size  : 1.4em;
    font-weight: 400;
}
