/**
 * Admin UX - Typography
 * @author: Adarsh Pastakia
 */
@include text-emphasis-variant( '.text-secondary', $ux-secondary);

code,
mark,
pre,
small,
span {
    font-weight: inherit;
    font-style : inherit;
}

.text-left {
    text-align: start;
    text-align: left;
}

.text-right {
    text-align: end;
    text-align: right;
}

.font-1-r {
    font-size: 1rem;
}

.font-2-r {
    font-size: 2rem;
}

.font-2 {
    font-size: 2em;
}

.font-3 {
    font-size: 3em;
}
