/**
 * Admin UX - Styles
 * @author: Adarsh Pastakia
 */
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,600,700");
@import url("//fonts.googleapis.com/css?family=Lato:300,400");
@import url("//fonts.googleapis.com/css?family=Source+Code+Pro:500,300");
@import "../font/files/flaticon.css";
@import "../font/social/flaticon.css";
@import "../font/vaadin/flaticon.css";
@import "../font/ios-filled/flaticon.css";
@import "../font/ios-lined/flaticon.css";
@import "../font/ios2-filled/flaticon.css";
@import "../font/ios2-lined/flaticon.css";
@import "mixins";
@import "variables";
@import "reset";
@import "bootstrap";
@import "base";
@import "grid";
@import "alerts";
@import "animate";
@import "buttons";
@import "cards";
@import "forms";
@import "overrides";
@import "popovers";
@import "sidemenu";
@import "typography";
@import "payment";

.ux-jumbo-banner {
	overflow  : hidden;
	position  : relative;
	background: url('../images/bg-white-wall.png');
	@include flex-row(stretch, flex-start, true);

	.ux-spacer > div {
		height: .5rem;
	}

	.feature {
		@include flex(0 0 16em);
		background     : url('../images/logo.png?4') no-repeat center center;
		background-size: 12em auto;
	}

	.content {
		@include flex(1 1 16em);
	}
}
