/*
  Flaticon icon font: Flaticon
  Creation date: 19/02/2016 14:47
  */

@font-face {
	font-family: "Vaadin";
	src: url("./flaticon.eot");
	src: url("./flaticon.eot?#iefix") format("embedded-opentype"),
	url("./flaticon.woff") format("woff"),
	url("./flaticon.ttf") format("truetype"),
	url("./flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Vaadin";
		src: url("./flaticon.svg#Flaticon") format("svg");
	}
}

[class^="fi-vaadin-"]:before, [class*=" fi-vaadin-"]:before,
[class^="fi-vaadin-"]:after, [class*=" fi-vaadin-"]:after {
	font-family: Vaadin;
	font-size: 1em;
}

.fi-vaadin-abacus:before {
	content: "\e001";
}
.fi-vaadin-absolute-position:before {
	content: "\e002";
}
.fi-vaadin-accordion-menu:before {
	content: "\e003";
}
.fi-vaadin-add-dock:before {
	content: "\e004";
}
.fi-vaadin-add-square:before {
	content: "\e005";
}
.fi-vaadin-adjust:before {
	content: "\e006";
}
.fi-vaadin-adobe-flash-logo:before {
	content: "\e007";
}
.fi-vaadin-affect:before {
	content: "\e008";
}
.fi-vaadin-airplane:before {
	content: "\e009";
}
.fi-vaadin-anchor:before {
	content: "\e00a";
}
.fi-vaadin-archives:before {
	content: "\e00b";
}
.fi-vaadin-asterisk:before {
	content: "\e00c";
}
.fi-vaadin-at:before {
	content: "\e00d";
}
.fi-vaadin-automation:before {
	content: "\e00e";
}
.fi-vaadin-backward-time:before {
	content: "\e00f";
}
.fi-vaadin-ban:before {
	content: "\e010";
}
.fi-vaadin-bar-chart:before {
	content: "\e011";
}
.fi-vaadin-bar-menu:before {
	content: "\e012";
}
.fi-vaadin-barcode:before {
	content: "\e013";
}
.fi-vaadin-bell-1:before {
	content: "\e014";
}
.fi-vaadin-bell-slash-1:before {
	content: "\e015";
}
.fi-vaadin-bell-slash:before {
	content: "\e016";
}
.fi-vaadin-bell:before {
	content: "\e017";
}
.fi-vaadin-blank-file:before {
	content: "\e018";
}
.fi-vaadin-boat:before {
	content: "\e019";
}
.fi-vaadin-bold:before {
	content: "\e01a";
}
.fi-vaadin-bolt:before {
	content: "\e01b";
}
.fi-vaadin-bomb:before {
	content: "\e01c";
}
.fi-vaadin-book:before {
	content: "\e01d";
}
.fi-vaadin-bookmark-1:before {
	content: "\e01e";
}
.fi-vaadin-bookmark:before {
	content: "\e01f";
}
.fi-vaadin-bottom-margin:before {
	content: "\e020";
}
.fi-vaadin-box:before {
	content: "\e021";
}
.fi-vaadin-briefcase:before {
	content: "\e022";
}
.fi-vaadin-broken-link:before {
	content: "\e023";
}
.fi-vaadin-browser-1:before {
	content: "\e024";
}
.fi-vaadin-browser-panel:before {
	content: "\e025";
}
.fi-vaadin-browser:before {
	content: "\e026";
}
.fi-vaadin-bug-1:before {
	content: "\e027";
}
.fi-vaadin-bug:before {
	content: "\e028";
}
.fi-vaadin-building-1:before {
	content: "\e029";
}
.fi-vaadin-building:before {
	content: "\e02a";
}
.fi-vaadin-bullets:before {
	content: "\e02b";
}
.fi-vaadin-bullseye:before {
	content: "\e02c";
}
.fi-vaadin-button:before {
	content: "\e02d";
}
.fi-vaadin-caculating-symbols:before {
	content: "\e02e";
}
.fi-vaadin-caculator-and-book:before {
	content: "\e02f";
}
.fi-vaadin-calendar-1:before {
	content: "\e030";
}
.fi-vaadin-calendar-and-briefcase:before {
	content: "\e031";
}
.fi-vaadin-calendar-and-clock:before {
	content: "\e032";
}
.fi-vaadin-calendar-and-envelope:before {
	content: "\e033";
}
.fi-vaadin-calendar-and-user:before {
	content: "\e034";
}
.fi-vaadin-calendar:before {
	content: "\e035";
}
.fi-vaadin-camera:before {
	content: "\e036";
}
.fi-vaadin-cancel-button:before {
	content: "\e037";
}
.fi-vaadin-car:before {
	content: "\e038";
}
.fi-vaadin-center-align:before {
	content: "\e039";
}
.fi-vaadin-chart-line:before {
	content: "\e03a";
}
.fi-vaadin-chart:before {
	content: "\e03b";
}
.fi-vaadin-chat:before {
	content: "\e03c";
}
.fi-vaadin-check-button:before {
	content: "\e03d";
}
.fi-vaadin-check-square-1:before {
	content: "\e03e";
}
.fi-vaadin-check-square:before {
	content: "\e03f";
}
.fi-vaadin-checked-1:before {
	content: "\e040";
}
.fi-vaadin-checked-2:before {
	content: "\e041";
}
.fi-vaadin-checked-3:before {
	content: "\e042";
}
.fi-vaadin-checked:before {
	content: "\e043";
}
.fi-vaadin-checkered-flag:before {
	content: "\e044";
}
.fi-vaadin-child:before {
	content: "\e045";
}
.fi-vaadin-circle-1:before {
	content: "\e046";
}
.fi-vaadin-circle:before {
	content: "\e047";
}
.fi-vaadin-clipboard-1:before {
	content: "\e048";
}
.fi-vaadin-clipboard-2:before {
	content: "\e049";
}
.fi-vaadin-clipboard-heart:before {
	content: "\e04a";
}
.fi-vaadin-clipboard-with-pulse:before {
	content: "\e04b";
}
.fi-vaadin-clipboard-with-user:before {
	content: "\e04c";
}
.fi-vaadin-clipboard:before {
	content: "\e04d";
}
.fi-vaadin-clock:before {
	content: "\e04e";
}
.fi-vaadin-close-button:before {
	content: "\e04f";
}
.fi-vaadin-close:before {
	content: "\e050";
}
.fi-vaadin-cloud-1:before {
	content: "\e051";
}
.fi-vaadin-cloud-upload:before {
	content: "\e052";
}
.fi-vaadin-cloud-uploading:before {
	content: "\e053";
}
.fi-vaadin-cloud:before {
	content: "\e054";
}
.fi-vaadin-cocktail-glass:before {
	content: "\e055";
}
.fi-vaadin-coffee:before {
	content: "\e056";
}
.fi-vaadin-cogwheel-1:before {
	content: "\e057";
}
.fi-vaadin-cogwheel:before {
	content: "\e058";
}
.fi-vaadin-combo-box:before {
	content: "\e059";
}
.fi-vaadin-comment:before {
	content: "\e05a";
}
.fi-vaadin-commenting-1:before {
	content: "\e05b";
}
.fi-vaadin-commenting:before {
	content: "\e05c";
}
.fi-vaadin-comments:before {
	content: "\e05d";
}
.fi-vaadin-compass-1:before {
	content: "\e05e";
}
.fi-vaadin-compass:before {
	content: "\e05f";
}
.fi-vaadin-compress-square:before {
	content: "\e060";
}
.fi-vaadin-compress:before {
	content: "\e061";
}
.fi-vaadin-computing-code:before {
	content: "\e062";
}
.fi-vaadin-connect-1:before {
	content: "\e063";
}
.fi-vaadin-connect:before {
	content: "\e064";
}
.fi-vaadin-controller:before {
	content: "\e065";
}
.fi-vaadin-conversation-1:before {
	content: "\e066";
}
.fi-vaadin-conversation:before {
	content: "\e067";
}
.fi-vaadin-copy-file-1:before {
	content: "\e068";
}
.fi-vaadin-copy-file:before {
	content: "\e069";
}
.fi-vaadin-copyright-symbol:before {
	content: "\e06a";
}
.fi-vaadin-corner-handle:before {
	content: "\e06b";
}
.fi-vaadin-credit-card:before {
	content: "\e06c";
}
.fi-vaadin-crescent-moon:before {
	content: "\e06d";
}
.fi-vaadin-crop:before {
	content: "\e06e";
}
.fi-vaadin-cross-cutlery:before {
	content: "\e06f";
}
.fi-vaadin-crossed-arrows:before {
	content: "\e070";
}
.fi-vaadin-crosshair:before {
	content: "\e071";
}
.fi-vaadin-css-code:before {
	content: "\e072";
}
.fi-vaadin-cube:before {
	content: "\e073";
}
.fi-vaadin-cubes:before {
	content: "\e074";
}
.fi-vaadin-curly-brackets:before {
	content: "\e075";
}
.fi-vaadin-cutlery:before {
	content: "\e076";
}
.fi-vaadin-dashboard:before {
	content: "\e077";
}
.fi-vaadin-database:before {
	content: "\e078";
}
.fi-vaadin-date-input:before {
	content: "\e079";
}
.fi-vaadin-dentist-chair:before {
	content: "\e07a";
}
.fi-vaadin-disabled-sign:before {
	content: "\e07b";
}
.fi-vaadin-disc:before {
	content: "\e07c";
}
.fi-vaadin-doctor-1:before {
	content: "\e07d";
}
.fi-vaadin-doctor-briefcase:before {
	content: "\e07e";
}
.fi-vaadin-doctor:before {
	content: "\e07f";
}
.fi-vaadin-dollar-symbol:before {
	content: "\e080";
}
.fi-vaadin-dot-inside-a-circle:before {
	content: "\e081";
}
.fi-vaadin-double-arrow:before {
	content: "\e082";
}
.fi-vaadin-down-arrow-1:before {
	content: "\e083";
}
.fi-vaadin-down-arrow-2:before {
	content: "\e084";
}
.fi-vaadin-down-arrow-3:before {
	content: "\e085";
}
.fi-vaadin-down-arrow-4:before {
	content: "\e086";
}
.fi-vaadin-down-arrow-5:before {
	content: "\e087";
}
.fi-vaadin-down-arrow-6:before {
	content: "\e088";
}
.fi-vaadin-down-arrow:before {
	content: "\e089";
}
.fi-vaadin-down-arrows:before {
	content: "\e08a";
}
.fi-vaadin-down-margin:before {
	content: "\e08b";
}
.fi-vaadin-download-from-cloud:before {
	content: "\e08c";
}
.fi-vaadin-download-symbol-1:before {
	content: "\e08d";
}
.fi-vaadin-download-symbol:before {
	content: "\e08e";
}
.fi-vaadin-downloading-from-cloud:before {
	content: "\e08f";
}
.fi-vaadin-drop:before {
	content: "\e090";
}
.fi-vaadin-earth-globe:before {
	content: "\e091";
}
.fi-vaadin-economy-book:before {
	content: "\e092";
}
.fi-vaadin-edit:before {
	content: "\e093";
}
.fi-vaadin-eject-symbol:before {
	content: "\e094";
}
.fi-vaadin-elastic:before {
	content: "\e095";
}
.fi-vaadin-elipsis:before {
	content: "\e096";
}
.fi-vaadin-ellipsis-circle-1:before {
	content: "\e097";
}
.fi-vaadin-ellipsis-circle:before {
	content: "\e098";
}
.fi-vaadin-ellipsis:before {
	content: "\e099";
}
.fi-vaadin-envelope-1:before {
	content: "\e09a";
}
.fi-vaadin-envelope:before {
	content: "\e09b";
}
.fi-vaadin-eraser:before {
	content: "\e09c";
}
.fi-vaadin-exchange:before {
	content: "\e09d";
}
.fi-vaadin-exclamation-circle-1:before {
	content: "\e09e";
}
.fi-vaadin-exclamation-circle:before {
	content: "\e09f";
}
.fi-vaadin-exclamation:before {
	content: "\e0a0";
}
.fi-vaadin-exit-symbol-1:before {
	content: "\e0a1";
}
.fi-vaadin-exit-symbol:before {
	content: "\e0a2";
}
.fi-vaadin-expand-arrows-1:before {
	content: "\e0a3";
}
.fi-vaadin-expand-arrows:before {
	content: "\e0a4";
}
.fi-vaadin-expand-square:before {
	content: "\e0a5";
}
.fi-vaadin-external-browser:before {
	content: "\e0a6";
}
.fi-vaadin-external-link:before {
	content: "\e0a7";
}
.fi-vaadin-eye-slash:before {
	content: "\e0a8";
}
.fi-vaadin-eye:before {
	content: "\e0a9";
}
.fi-vaadin-eyedropper:before {
	content: "\e0aa";
}
.fi-vaadin-facebook-logo-on-square:before {
	content: "\e0ab";
}
.fi-vaadin-facebook-logo:before {
	content: "\e0ac";
}
.fi-vaadin-factory:before {
	content: "\e0ad";
}
.fi-vaadin-fast-forward:before {
	content: "\e0ae";
}
.fi-vaadin-file-code:before {
	content: "\e0af";
}
.fi-vaadin-file-tree-1:before {
	content: "\e0b0";
}
.fi-vaadin-file-tree-2:before {
	content: "\e0b1";
}
.fi-vaadin-file-tree:before {
	content: "\e0b2";
}
.fi-vaadin-file:before {
	content: "\e0b3";
}
.fi-vaadin-fill:before {
	content: "\e0b4";
}
.fi-vaadin-film:before {
	content: "\e0b5";
}
.fi-vaadin-filter:before {
	content: "\e0b6";
}
.fi-vaadin-fire:before {
	content: "\e0b7";
}
.fi-vaadin-flag:before {
	content: "\e0b8";
}
.fi-vaadin-flask:before {
	content: "\e0b9";
}
.fi-vaadin-flip-1:before {
	content: "\e0ba";
}
.fi-vaadin-flip:before {
	content: "\e0bb";
}
.fi-vaadin-folder-1:before {
	content: "\e0bc";
}
.fi-vaadin-folder:before {
	content: "\e0bd";
}
.fi-vaadin-font-file:before {
	content: "\e0be";
}
.fi-vaadin-font:before {
	content: "\e0bf";
}
.fi-vaadin-form:before {
	content: "\e0c0";
}
.fi-vaadin-forward-arrow:before {
	content: "\e0c1";
}
.fi-vaadin-forward-time:before {
	content: "\e0c2";
}
.fi-vaadin-frown-face:before {
	content: "\e0c3";
}
.fi-vaadin-function:before {
	content: "\e0c4";
}
.fi-vaadin-gamepad:before {
	content: "\e0c5";
}
.fi-vaadin-gavel:before {
	content: "\e0c6";
}
.fi-vaadin-gear:before {
	content: "\e0c7";
}
.fi-vaadin-gift:before {
	content: "\e0c8";
}
.fi-vaadin-glasses:before {
	content: "\e0c9";
}
.fi-vaadin-golf-player:before {
	content: "\e0ca";
}
.fi-vaadin-google-plus-logo-1:before {
	content: "\e0cb";
}
.fi-vaadin-google-plus-logo:before {
	content: "\e0cc";
}
.fi-vaadin-grab:before {
	content: "\e0cd";
}
.fi-vaadin-grid-level:before {
	content: "\e0ce";
}
.fi-vaadin-grid:before {
	content: "\e0cf";
}
.fi-vaadin-group:before {
	content: "\e0d0";
}
.fi-vaadin-hand:before {
	content: "\e0d1";
}
.fi-vaadin-hands-up:before {
	content: "\e0d2";
}
.fi-vaadin-hard-drive-1:before {
	content: "\e0d3";
}
.fi-vaadin-hard-drive:before {
	content: "\e0d4";
}
.fi-vaadin-hash:before {
	content: "\e0d5";
}
.fi-vaadin-header:before {
	content: "\e0d6";
}
.fi-vaadin-headphones:before {
	content: "\e0d7";
}
.fi-vaadin-heart-1:before {
	content: "\e0d8";
}
.fi-vaadin-heart:before {
	content: "\e0d9";
}
.fi-vaadin-home:before {
	content: "\e0da";
}
.fi-vaadin-horizontal-tablet:before {
	content: "\e0db";
}
.fi-vaadin-house:before {
	content: "\e0dc";
}
.fi-vaadin-inbox:before {
	content: "\e0dd";
}
.fi-vaadin-indent-1:before {
	content: "\e0de";
}
.fi-vaadin-indent:before {
	content: "\e0df";
}
.fi-vaadin-info-1:before {
	content: "\e0e0";
}
.fi-vaadin-info:before {
	content: "\e0e1";
}
.fi-vaadin-information:before {
	content: "\e0e2";
}
.fi-vaadin-input:before {
	content: "\e0e3";
}
.fi-vaadin-insert:before {
	content: "\e0e4";
}
.fi-vaadin-invoice:before {
	content: "\e0e5";
}
.fi-vaadin-italic:before {
	content: "\e0e6";
}
.fi-vaadin-justify-align:before {
	content: "\e0e7";
}
.fi-vaadin-key-1:before {
	content: "\e0e8";
}
.fi-vaadin-key:before {
	content: "\e0e9";
}
.fi-vaadin-keyboard-1:before {
	content: "\e0ea";
}
.fi-vaadin-keyboard:before {
	content: "\e0eb";
}
.fi-vaadin-laptop:before {
	content: "\e0ec";
}
.fi-vaadin-last-quarter:before {
	content: "\e0ed";
}
.fi-vaadin-layout:before {
	content: "\e0ee";
}
.fi-vaadin-left-alignment:before {
	content: "\e0ef";
}
.fi-vaadin-left-arrow-1:before {
	content: "\e0f0";
}
.fi-vaadin-left-arrow-2:before {
	content: "\e0f1";
}
.fi-vaadin-left-arrow-3:before {
	content: "\e0f2";
}
.fi-vaadin-left-arrow-4:before {
	content: "\e0f3";
}
.fi-vaadin-left-arrow-5:before {
	content: "\e0f4";
}
.fi-vaadin-left-arrow-6:before {
	content: "\e0f5";
}
.fi-vaadin-left-arrow-7:before {
	content: "\e0f6";
}
.fi-vaadin-left-arrow-8:before {
	content: "\e0f7";
}
.fi-vaadin-left-arrow:before {
	content: "\e0f8";
}
.fi-vaadin-left-arrows:before {
	content: "\e0f9";
}
.fi-vaadin-left-bold-arrow-1:before {
	content: "\e0fa";
}
.fi-vaadin-left-bold-arrow:before {
	content: "\e0fb";
}
.fi-vaadin-left-half-star:before {
	content: "\e0fc";
}
.fi-vaadin-left-lower-corner:before {
	content: "\e0fd";
}
.fi-vaadin-left-lower-raster:before {
	content: "\e0fe";
}
.fi-vaadin-left-margin-1:before {
	content: "\e0ff";
}
.fi-vaadin-left-margin:before {
	content: "\e100";
}
.fi-vaadin-left-quote:before {
	content: "\e101";
}
.fi-vaadin-left-upper-coner:before {
	content: "\e102";
}
.fi-vaadin-level-down-1:before {
	content: "\e103";
}
.fi-vaadin-level-down:before {
	content: "\e104";
}
.fi-vaadin-level-up-1:before {
	content: "\e105";
}
.fi-vaadin-level-up:before {
	content: "\e106";
}
.fi-vaadin-lifebuoy:before {
	content: "\e107";
}
.fi-vaadin-light-bulb:before {
	content: "\e108";
}
.fi-vaadin-line-1:before {
	content: "\e109";
}
.fi-vaadin-line-list:before {
	content: "\e10a";
}
.fi-vaadin-line:before {
	content: "\e10b";
}
.fi-vaadin-lines:before {
	content: "\e10c";
}
.fi-vaadin-link:before {
	content: "\e10d";
}
.fi-vaadin-list-1:before {
	content: "\e10e";
}
.fi-vaadin-list-2:before {
	content: "\e10f";
}
.fi-vaadin-list:before {
	content: "\e110";
}
.fi-vaadin-location-arrow:before {
	content: "\e111";
}
.fi-vaadin-long-down-arrow:before {
	content: "\e112";
}
.fi-vaadin-long-left-arrow:before {
	content: "\e113";
}
.fi-vaadin-long-right-arrow:before {
	content: "\e114";
}
.fi-vaadin-long-up-arrow:before {
	content: "\e115";
}
.fi-vaadin-love-letter:before {
	content: "\e116";
}
.fi-vaadin-magic-wand:before {
	content: "\e117";
}
.fi-vaadin-magnet:before {
	content: "\e118";
}
.fi-vaadin-mail-box:before {
	content: "\e119";
}
.fi-vaadin-man:before {
	content: "\e11a";
}
.fi-vaadin-margin:before {
	content: "\e11b";
}
.fi-vaadin-medal:before {
	content: "\e11c";
}
.fi-vaadin-megaphone:before {
	content: "\e11d";
}
.fi-vaadin-microphone:before {
	content: "\e11e";
}
.fi-vaadin-minus-button:before {
	content: "\e11f";
}
.fi-vaadin-minus-circle-1:before {
	content: "\e120";
}
.fi-vaadin-minus-circle:before {
	content: "\e121";
}
.fi-vaadin-minus:before {
	content: "\e122";
}
.fi-vaadin-modal-list:before {
	content: "\e123";
}
.fi-vaadin-money:before {
	content: "\e124";
}
.fi-vaadin-monitor:before {
	content: "\e125";
}
.fi-vaadin-move-arrows:before {
	content: "\e126";
}
.fi-vaadin-move-right:before {
	content: "\e127";
}
.fi-vaadin-movie-file:before {
	content: "\e128";
}
.fi-vaadin-movie:before {
	content: "\e129";
}
.fi-vaadin-musical-note:before {
	content: "\e12a";
}
.fi-vaadin-mute-microphone:before {
	content: "\e12b";
}
.fi-vaadin-native-button:before {
	content: "\e12c";
}
.fi-vaadin-notebook:before {
	content: "\e12d";
}
.fi-vaadin-object-orientation:before {
	content: "\e12e";
}
.fi-vaadin-open-book-1:before {
	content: "\e12f";
}
.fi-vaadin-open-book:before {
	content: "\e130";
}
.fi-vaadin-open-envelope-1:before {
	content: "\e131";
}
.fi-vaadin-open-envelope:before {
	content: "\e132";
}
.fi-vaadin-open-folder-1:before {
	content: "\e133";
}
.fi-vaadin-open-folder:before {
	content: "\e134";
}
.fi-vaadin-options:before {
	content: "\e135";
}
.fi-vaadin-out-sign:before {
	content: "\e136";
}
.fi-vaadin-outbox:before {
	content: "\e137";
}
.fi-vaadin-package:before {
	content: "\e138";
}
.fi-vaadin-padding:before {
	content: "\e139";
}
.fi-vaadin-padlock:before {
	content: "\e13a";
}
.fi-vaadin-paint-brush:before {
	content: "\e13b";
}
.fi-vaadin-paint-roller:before {
	content: "\e13c";
}
.fi-vaadin-palette:before {
	content: "\e13d";
}
.fi-vaadin-paper-plane-1:before {
	content: "\e13e";
}
.fi-vaadin-paper-plane:before {
	content: "\e13f";
}
.fi-vaadin-paperclip:before {
	content: "\e140";
}
.fi-vaadin-paragraph:before {
	content: "\e141";
}
.fi-vaadin-password:before {
	content: "\e142";
}
.fi-vaadin-paste-on-document:before {
	content: "\e143";
}
.fi-vaadin-pause-symbol:before {
	content: "\e144";
}
.fi-vaadin-pencil:before {
	content: "\e145";
}
.fi-vaadin-percent-book:before {
	content: "\e146";
}
.fi-vaadin-phone:before {
	content: "\e147";
}
.fi-vaadin-picture-file:before {
	content: "\e148";
}
.fi-vaadin-picture:before {
	content: "\e149";
}
.fi-vaadin-pie-chart:before {
	content: "\e14a";
}
.fi-vaadin-pill:before {
	content: "\e14b";
}
.fi-vaadin-pin-post:before {
	content: "\e14c";
}
.fi-vaadin-pin:before {
	content: "\e14d";
}
.fi-vaadin-placeholder:before {
	content: "\e14e";
}
.fi-vaadin-play-button:before {
	content: "\e14f";
}
.fi-vaadin-play-circle:before {
	content: "\e150";
}
.fi-vaadin-play-file:before {
	content: "\e151";
}
.fi-vaadin-plug:before {
	content: "\e152";
}
.fi-vaadin-plus-and-minus:before {
	content: "\e153";
}
.fi-vaadin-plus-circle-1:before {
	content: "\e154";
}
.fi-vaadin-plus-circle:before {
	content: "\e155";
}
.fi-vaadin-plus:before {
	content: "\e156";
}
.fi-vaadin-pointer:before {
	content: "\e157";
}
.fi-vaadin-power-button:before {
	content: "\e158";
}
.fi-vaadin-presentation-file:before {
	content: "\e159";
}
.fi-vaadin-presentation:before {
	content: "\e15a";
}
.fi-vaadin-previous-track:before {
	content: "\e15b";
}
.fi-vaadin-previous:before {
	content: "\e15c";
}
.fi-vaadin-printer:before {
	content: "\e15d";
}
.fi-vaadin-processing-file:before {
	content: "\e15e";
}
.fi-vaadin-progress-bar:before {
	content: "\e15f";
}
.fi-vaadin-puzzle-piece:before {
	content: "\e160";
}
.fi-vaadin-qr-code:before {
	content: "\e161";
}
.fi-vaadin-question-circular-button-1:before {
	content: "\e162";
}
.fi-vaadin-question-circular-button:before {
	content: "\e163";
}
.fi-vaadin-question:before {
	content: "\e164";
}
.fi-vaadin-random:before {
	content: "\e165";
}
.fi-vaadin-raster:before {
	content: "\e166";
}
.fi-vaadin-recycling:before {
	content: "\e167";
}
.fi-vaadin-refresh-file:before {
	content: "\e168";
}
.fi-vaadin-refresh:before {
	content: "\e169";
}
.fi-vaadin-reply-all:before {
	content: "\e16a";
}
.fi-vaadin-reply:before {
	content: "\e16b";
}
.fi-vaadin-resize-1:before {
	content: "\e16c";
}
.fi-vaadin-resize:before {
	content: "\e16d";
}
.fi-vaadin-retweet:before {
	content: "\e16e";
}
.fi-vaadin-rewind-symbol:before {
	content: "\e16f";
}
.fi-vaadin-rewind:before {
	content: "\e170";
}
.fi-vaadin-rhombus:before {
	content: "\e171";
}
.fi-vaadin-right-alignment:before {
	content: "\e172";
}
.fi-vaadin-right-arrow-1:before {
	content: "\e173";
}
.fi-vaadin-right-arrow-2:before {
	content: "\e174";
}
.fi-vaadin-right-arrow-3:before {
	content: "\e175";
}
.fi-vaadin-right-arrow-4:before {
	content: "\e176";
}
.fi-vaadin-right-arrow-5:before {
	content: "\e177";
}
.fi-vaadin-right-arrow-6:before {
	content: "\e178";
}
.fi-vaadin-right-arrow-7:before {
	content: "\e179";
}
.fi-vaadin-right-arrow-8:before {
	content: "\e17a";
}
.fi-vaadin-right-arrow-9:before {
	content: "\e17b";
}
.fi-vaadin-right-arrow:before {
	content: "\e17c";
}
.fi-vaadin-right-arrows:before {
	content: "\e17d";
}
.fi-vaadin-right-bold-arrow:before {
	content: "\e17e";
}
.fi-vaadin-right-half-star:before {
	content: "\e17f";
}
.fi-vaadin-right-lower-corner:before {
	content: "\e180";
}
.fi-vaadin-right-margin-1:before {
	content: "\e181";
}
.fi-vaadin-right-margin:before {
	content: "\e182";
}
.fi-vaadin-right-quote:before {
	content: "\e183";
}
.fi-vaadin-right-upper-coner:before {
	content: "\e184";
}
.fi-vaadin-road-detour:before {
	content: "\e185";
}
.fi-vaadin-road-detours:before {
	content: "\e186";
}
.fi-vaadin-road-split:before {
	content: "\e187";
}
.fi-vaadin-road:before {
	content: "\e188";
}
.fi-vaadin-rocket:before {
	content: "\e189";
}
.fi-vaadin-rotate-left:before {
	content: "\e18a";
}
.fi-vaadin-rotate-to-right:before {
	content: "\e18b";
}
.fi-vaadin-round-play-button:before {
	content: "\e18c";
}
.fi-vaadin-rss-square:before {
	content: "\e18d";
}
.fi-vaadin-rss:before {
	content: "\e18e";
}
.fi-vaadin-safe-lock:before {
	content: "\e18f";
}
.fi-vaadin-safebox:before {
	content: "\e190";
}
.fi-vaadin-scissors:before {
	content: "\e191";
}
.fi-vaadin-screwdriver:before {
	content: "\e192";
}
.fi-vaadin-search:before {
	content: "\e193";
}
.fi-vaadin-select-area:before {
	content: "\e194";
}
.fi-vaadin-select-list:before {
	content: "\e195";
}
.fi-vaadin-select:before {
	content: "\e196";
}
.fi-vaadin-server:before {
	content: "\e197";
}
.fi-vaadin-share-arrow:before {
	content: "\e198";
}
.fi-vaadin-share-square:before {
	content: "\e199";
}
.fi-vaadin-shield:before {
	content: "\e19a";
}
.fi-vaadin-shopping-cart-1:before {
	content: "\e19b";
}
.fi-vaadin-shopping-cart:before {
	content: "\e19c";
}
.fi-vaadin-sign-in-1:before {
	content: "\e19d";
}
.fi-vaadin-sign-in:before {
	content: "\e19e";
}
.fi-vaadin-sign-out:before {
	content: "\e19f";
}
.fi-vaadin-signal:before {
	content: "\e1a0";
}
.fi-vaadin-site-map:before {
	content: "\e1a1";
}
.fi-vaadin-skip-track-1:before {
	content: "\e1a2";
}
.fi-vaadin-skip-track:before {
	content: "\e1a3";
}
.fi-vaadin-slider:before {
	content: "\e1a4";
}
.fi-vaadin-sliders:before {
	content: "\e1a5";
}
.fi-vaadin-smartphone:before {
	content: "\e1a6";
}
.fi-vaadin-smile:before {
	content: "\e1a7";
}
.fi-vaadin-smiley:before {
	content: "\e1a8";
}
.fi-vaadin-sort:before {
	content: "\e1a9";
}
.fi-vaadin-sound-file:before {
	content: "\e1aa";
}
.fi-vaadin-sound-mute:before {
	content: "\e1ab";
}
.fi-vaadin-speaker:before {
	content: "\e1ac";
}
.fi-vaadin-spinner-1:before {
	content: "\e1ad";
}
.fi-vaadin-spinner:before {
	content: "\e1ae";
}
.fi-vaadin-split-browser-1:before {
	content: "\e1af";
}
.fi-vaadin-split-browser:before {
	content: "\e1b0";
}
.fi-vaadin-split:before {
	content: "\e1b1";
}
.fi-vaadin-spoon:before {
	content: "\e1b2";
}
.fi-vaadin-square-menu-1:before {
	content: "\e1b3";
}
.fi-vaadin-square-menu:before {
	content: "\e1b4";
}
.fi-vaadin-square-shadow:before {
	content: "\e1b5";
}
.fi-vaadin-square:before {
	content: "\e1b6";
}
.fi-vaadin-squares-1:before {
	content: "\e1b7";
}
.fi-vaadin-squares:before {
	content: "\e1b8";
}
.fi-vaadin-star-1:before {
	content: "\e1b9";
}
.fi-vaadin-star-half-filled-1:before {
	content: "\e1ba";
}
.fi-vaadin-star-half-filled:before {
	content: "\e1bb";
}
.fi-vaadin-star:before {
	content: "\e1bc";
}
.fi-vaadin-start-settings:before {
	content: "\e1bd";
}
.fi-vaadin-stethoscope:before {
	content: "\e1be";
}
.fi-vaadin-sticker:before {
	content: "\e1bf";
}
.fi-vaadin-stop-settings:before {
	content: "\e1c0";
}
.fi-vaadin-stop:before {
	content: "\e1c1";
}
.fi-vaadin-striketrought:before {
	content: "\e1c2";
}
.fi-vaadin-subscript:before {
	content: "\e1c3";
}
.fi-vaadin-suitcase:before {
	content: "\e1c4";
}
.fi-vaadin-sun:before {
	content: "\e1c5";
}
.fi-vaadin-superscript:before {
	content: "\e1c6";
}
.fi-vaadin-sword:before {
	content: "\e1c7";
}
.fi-vaadin-symbol:before {
	content: "\e1c8";
}
.fi-vaadin-table-file:before {
	content: "\e1c9";
}
.fi-vaadin-table:before {
	content: "\e1ca";
}
.fi-vaadin-tabs:before {
	content: "\e1cb";
}
.fi-vaadin-tag:before {
	content: "\e1cc";
}
.fi-vaadin-tags:before {
	content: "\e1cd";
}
.fi-vaadin-tasks:before {
	content: "\e1ce";
}
.fi-vaadin-taxi:before {
	content: "\e1cf";
}
.fi-vaadin-teeth:before {
	content: "\e1d0";
}
.fi-vaadin-temple:before {
	content: "\e1d1";
}
.fi-vaadin-terminal:before {
	content: "\e1d2";
}
.fi-vaadin-text-file-1:before {
	content: "\e1d3";
}
.fi-vaadin-text-file:before {
	content: "\e1d4";
}
.fi-vaadin-text-height:before {
	content: "\e1d5";
}
.fi-vaadin-text-input:before {
	content: "\e1d6";
}
.fi-vaadin-text-label:before {
	content: "\e1d7";
}
.fi-vaadin-text-width:before {
	content: "\e1d8";
}
.fi-vaadin-three-cells-1:before {
	content: "\e1d9";
}
.fi-vaadin-three-cells:before {
	content: "\e1da";
}
.fi-vaadin-thumb-down-1:before {
	content: "\e1db";
}
.fi-vaadin-thumb-down:before {
	content: "\e1dc";
}
.fi-vaadin-thumb-up-1:before {
	content: "\e1dd";
}
.fi-vaadin-thumb-up:before {
	content: "\e1de";
}
.fi-vaadin-ticket:before {
	content: "\e1df";
}
.fi-vaadin-toolbox:before {
	content: "\e1e0";
}
.fi-vaadin-tools:before {
	content: "\e1e1";
}
.fi-vaadin-tooth:before {
	content: "\e1e2";
}
.fi-vaadin-top-margin-1:before {
	content: "\e1e3";
}
.fi-vaadin-top-margin:before {
	content: "\e1e4";
}
.fi-vaadin-train:before {
	content: "\e1e5";
}
.fi-vaadin-trash:before {
	content: "\e1e6";
}
.fi-vaadin-tree-table:before {
	content: "\e1e7";
}
.fi-vaadin-trophy:before {
	content: "\e1e8";
}
.fi-vaadin-truck:before {
	content: "\e1e9";
}
.fi-vaadin-twitter-logo-1:before {
	content: "\e1ea";
}
.fi-vaadin-twitter-logo:before {
	content: "\e1eb";
}
.fi-vaadin-two-pills:before {
	content: "\e1ec";
}
.fi-vaadin-umbrella:before {
	content: "\e1ed";
}
.fi-vaadin-underline:before {
	content: "\e1ee";
}
.fi-vaadin-unlock:before {
	content: "\e1ef";
}
.fi-vaadin-up-arrow-1:before {
	content: "\e1f0";
}
.fi-vaadin-up-arrow-2:before {
	content: "\e1f1";
}
.fi-vaadin-up-arrow-3:before {
	content: "\e1f2";
}
.fi-vaadin-up-arrow-4:before {
	content: "\e1f3";
}
.fi-vaadin-up-arrow-5:before {
	content: "\e1f4";
}
.fi-vaadin-up-arrow-6:before {
	content: "\e1f5";
}
.fi-vaadin-up-arrow-7:before {
	content: "\e1f6";
}
.fi-vaadin-up-arrow-on-circle:before {
	content: "\e1f7";
}
.fi-vaadin-up-arrow:before {
	content: "\e1f8";
}
.fi-vaadin-up-arrows:before {
	content: "\e1f9";
}
.fi-vaadin-upload-1:before {
	content: "\e1fa";
}
.fi-vaadin-upload:before {
	content: "\e1fb";
}
.fi-vaadin-user-and-clock:before {
	content: "\e1fc";
}
.fi-vaadin-user-and-heart:before {
	content: "\e1fd";
}
.fi-vaadin-user-card:before {
	content: "\e1fe";
}
.fi-vaadin-user-checked:before {
	content: "\e1ff";
}
.fi-vaadin-user:before {
	content: "\e200";
}
.fi-vaadin-users:before {
	content: "\e201";
}
.fi-vaadin-vaadin:before {
	content: "\e202";
}
.fi-vaadin-vertical-double-arrow:before {
	content: "\e203";
}
.fi-vaadin-viewpoint:before {
	content: "\e204";
}
.fi-vaadin-vimeo-logo-1:before {
	content: "\e205";
}
.fi-vaadin-vimeo-logo:before {
	content: "\e206";
}
.fi-vaadin-volume-down:before {
	content: "\e207";
}
.fi-vaadin-volume-off:before {
	content: "\e208";
}
.fi-vaadin-volume-up:before {
	content: "\e209";
}
.fi-vaadin-warning:before {
	content: "\e20a";
}
.fi-vaadin-white-flag:before {
	content: "\e20b";
}
.fi-vaadin-woman-with-skirt:before {
	content: "\e20c";
}
.fi-vaadin-wrench:before {
	content: "\e20d";
}
.fi-vaadin-youtube-1:before {
	content: "\e20e";
}
.fi-vaadin-youtube:before {
	content: "\e20f";
}
.fi-vaadin-zip-file:before {
	content: "\e210";
}
.fi-vaadin-zoom-in:before {
	content: "\e211";
}
.fi-vaadin-zoom-out:before {
	content: "\e212";
}
