    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:44
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-ace-of-spades:before { content: "\f100"; }
.flaticon-alcohol-bottle:before { content: "\f101"; }
.flaticon-alien-spaceship:before { content: "\f102"; }
.flaticon-ambulance-alert:before { content: "\f103"; }
.flaticon-app-bug:before { content: "\f104"; }
.flaticon-arraving-airplane:before { content: "\f105"; }
.flaticon-arrows-inside-a-circle:before { content: "\f106"; }
.flaticon-atomic-structure:before { content: "\f107"; }
.flaticon-baby-bib-with-flower-design:before { content: "\f108"; }
.flaticon-baby-cot:before { content: "\f109"; }
.flaticon-baby-diaper:before { content: "\f10a"; }
.flaticon-baby-milk-bottle:before { content: "\f10b"; }
.flaticon-baby-pacifier:before { content: "\f10c"; }
.flaticon-baby-trolley:before { content: "\f10d"; }
.flaticon-baby-with-diaper:before { content: "\f10e"; }
.flaticon-back-part:before { content: "\f10f"; }
.flaticon-badminton-feather:before { content: "\f110"; }
.flaticon-band-aid:before { content: "\f111"; }
.flaticon-baseball-ball:before { content: "\f112"; }
.flaticon-basket-full:before { content: "\f113"; }
.flaticon-basketball-ball-with-line:before { content: "\f114"; }
.flaticon-beer-jar:before { content: "\f115"; }
.flaticon-biceps-of-a-man:before { content: "\f116"; }
.flaticon-big-and-small-drops:before { content: "\f117"; }
.flaticon-big-heart-and-little-heart:before { content: "\f118"; }
.flaticon-big-opened-umbrella:before { content: "\f119"; }
.flaticon-big-snowflake:before { content: "\f11a"; }
.flaticon-bike-tricks:before { content: "\f11b"; }
.flaticon-bike-with-motor-ios-7-interface-symbol:before { content: "\f11c"; }
.flaticon-biohazard-symbol:before { content: "\f11d"; }
.flaticon-black-bottle:before { content: "\f11e"; }
.flaticon-black-heart-shaped:before { content: "\f11f"; }
.flaticon-blank-thermometer:before { content: "\f120"; }
.flaticon-block-with-letters:before { content: "\f121"; }
.flaticon-blood-drop:before { content: "\f122"; }
.flaticon-bluetooth-signal:before { content: "\f123"; }
.flaticon-body-thermometer:before { content: "\f124"; }
.flaticon-bowling-ball:before { content: "\f125"; }
.flaticon-bowling-pins:before { content: "\f126"; }
.flaticon-branderbourg-gate:before { content: "\f127"; }
.flaticon-browser-shield:before { content: "\f128"; }
.flaticon-cake-with-one-candle:before { content: "\f129"; }
.flaticon-canvas:before { content: "\f12a"; }
.flaticon-car:before { content: "\f12b"; }
.flaticon-car-battery:before { content: "\f12c"; }
.flaticon-car-steering-wheel:before { content: "\f12d"; }
.flaticon-car-wit-chassis:before { content: "\f12e"; }
.flaticon-cd-record:before { content: "\f12f"; }
.flaticon-chain-tag:before { content: "\f130"; }
.flaticon-chest:before { content: "\f131"; }
.flaticon-chicken:before { content: "\f132"; }
.flaticon-chinese-lantern:before { content: "\f133"; }
.flaticon-christian-cross:before { content: "\f134"; }
.flaticon-circles-inside-a-square:before { content: "\f135"; }
.flaticon-circuit-board:before { content: "\f136"; }
.flaticon-clear-night:before { content: "\f137"; }
.flaticon-cloud-expansion:before { content: "\f138"; }
.flaticon-cloud-night:before { content: "\f139"; }
.flaticon-cloud-storage-drive:before { content: "\f13a"; }
.flaticon-clouded-pronostic:before { content: "\f13b"; }
.flaticon-cloudy-day:before { content: "\f13c"; }
.flaticon-cloudy-night:before { content: "\f13d"; }
.flaticon-clover-ace:before { content: "\f13e"; }
.flaticon-cogwheel-options:before { content: "\f13f"; }
.flaticon-cold-temperature:before { content: "\f140"; }
.flaticon-comedy-mask:before { content: "\f141"; }
.flaticon-compass-pointing-east:before { content: "\f142"; }
.flaticon-compass-pointing-north:before { content: "\f143"; }
.flaticon-compass-pointing-south:before { content: "\f144"; }
.flaticon-compass-pointing-south-east:before { content: "\f145"; }
.flaticon-compass-pointing-west:before { content: "\f146"; }
.flaticon-computer-chip:before { content: "\f147"; }
.flaticon-computer-micro-chip:before { content: "\f148"; }
.flaticon-computer-microprocessor:before { content: "\f149"; }
.flaticon-computer-screen-linux:before { content: "\f14a"; }
.flaticon-computer-tower:before { content: "\f14b"; }
.flaticon-connections:before { content: "\f14c"; }
.flaticon-cord-lace:before { content: "\f14d"; }
.flaticon-covered-dust-bin:before { content: "\f14e"; }
.flaticon-crab-top-view:before { content: "\f14f"; }
.flaticon-cruise-ship-navigating:before { content: "\f150"; }
.flaticon-crying-baby:before { content: "\f151"; }
.flaticon-cup-of-wine:before { content: "\f152"; }
.flaticon-cutlery-utensils:before { content: "\f153"; }
.flaticon-cyclist:before { content: "\f154"; }
.flaticon-cyclist-runner:before { content: "\f155"; }
.flaticon-dark-cup:before { content: "\f156"; }
.flaticon-dentist-pincers:before { content: "\f157"; }
.flaticon-detective-search:before { content: "\f158"; }
.flaticon-dharma-chakra:before { content: "\f159"; }
.flaticon-direct-wifi-logo:before { content: "\f15a"; }
.flaticon-disconnected-chains:before { content: "\f15b"; }
.flaticon-dish-signal:before { content: "\f15c"; }
.flaticon-dish-signal-transmission:before { content: "\f15d"; }
.flaticon-disk-storage:before { content: "\f15e"; }
.flaticon-dna-chromosome:before { content: "\f15f"; }
.flaticon-double-burger:before { content: "\f160"; }
.flaticon-double-gym-dumbbell:before { content: "\f161"; }
.flaticon-drive-link:before { content: "\f162"; }
.flaticon-drive-with-a-crown:before { content: "\f163"; }
.flaticon-dvd-drive:before { content: "\f164"; }
.flaticon-eco-light-bulb:before { content: "\f165"; }
.flaticon-eco-windmill:before { content: "\f166"; }
.flaticon-egyptian-ankh:before { content: "\f167"; }
.flaticon-electric-plug:before { content: "\f168"; }
.flaticon-electrocardiogram-line:before { content: "\f169"; }
.flaticon-emmental-cheese:before { content: "\f16a"; }
.flaticon-engine-with-lighting-bolt:before { content: "\f16b"; }
.flaticon-expand-square:before { content: "\f16c"; }
.flaticon-experiment-flask-with-leaves-symbol:before { content: "\f16d"; }
.flaticon-factory-building:before { content: "\f16e"; }
.flaticon-favorite-wireles-conecction:before { content: "\f16f"; }
.flaticon-female-user-with-short-hair-avatar:before { content: "\f170"; }
.flaticon-fencing-attack:before { content: "\f171"; }
.flaticon-ferry-with-car:before { content: "\f172"; }
.flaticon-finger-gun:before { content: "\f173"; }
.flaticon-finger-up:before { content: "\f174"; }
.flaticon-fire-flame:before { content: "\f175"; }
.flaticon-firewall-flame:before { content: "\f176"; }
.flaticon-fish-bones:before { content: "\f177"; }
.flaticon-fishing-boat:before { content: "\f178"; }
.flaticon-five-fingers:before { content: "\f179"; }
.flaticon-flame-extinguisher:before { content: "\f17a"; }
.flaticon-flamingo:before { content: "\f17b"; }
.flaticon-flying-aeroplane-top-view:before { content: "\f17c"; }
.flaticon-football-ball-circular:before { content: "\f17d"; }
.flaticon-football-player-with-ball:before { content: "\f17e"; }
.flaticon-four-finger-in-hand:before { content: "\f17f"; }
.flaticon-french-fries-box:before { content: "\f180"; }
.flaticon-frequency-antenna:before { content: "\f181"; }
.flaticon-frontal-cab:before { content: "\f182"; }
.flaticon-frontal-large-bus:before { content: "\f183"; }
.flaticon-frontal-solar-panel:before { content: "\f184"; }
.flaticon-full-computer:before { content: "\f185"; }
.flaticon-gas-mask:before { content: "\f186"; }
.flaticon-gear-option:before { content: "\f187"; }
.flaticon-german-hat-with-small-feather:before { content: "\f188"; }
.flaticon-great-wall-of-china-doodle:before { content: "\f189"; }
.flaticon-hand-gun:before { content: "\f18a"; }
.flaticon-hang-hook:before { content: "\f18b"; }
.flaticon-hanging-ladder:before { content: "\f18c"; }
.flaticon-hard-drive-device:before { content: "\f18d"; }
.flaticon-hat:before { content: "\f18e"; }
.flaticon-hierarchical-order:before { content: "\f18f"; }
.flaticon-hierarchical-structure:before { content: "\f190"; }
.flaticon-hierarchy-levels:before { content: "\f191"; }
.flaticon-high-temperature:before { content: "\f192"; }
.flaticon-holy-book:before { content: "\f193"; }
.flaticon-honey-jar:before { content: "\f194"; }
.flaticon-hot-chilli-pepper:before { content: "\f195"; }
.flaticon-hotdog-and-bread:before { content: "\f196"; }
.flaticon-human-foot-prints:before { content: "\f197"; }
.flaticon-hydro-power-generation:before { content: "\f198"; }
.flaticon-increasing-temperature:before { content: "\f199"; }
.flaticon-integrated-chip:before { content: "\f19a"; }
.flaticon-integrated-circuit:before { content: "\f19b"; }
.flaticon-ip-address-point-locator:before { content: "\f19c"; }
.flaticon-iron-soldering:before { content: "\f19d"; }
.flaticon-islamic-crescent-with-small-star:before { content: "\f19e"; }
.flaticon-islamic-mosque:before { content: "\f19f"; }
.flaticon-jet-ski:before { content: "\f1a0"; }
.flaticon-joker-face:before { content: "\f1a1"; }
.flaticon-jump-rope:before { content: "\f1a2"; }
.flaticon-king-crown:before { content: "\f1a3"; }
.flaticon-kitchen-pot:before { content: "\f1a4"; }
.flaticon-knife-shape:before { content: "\f1a5"; }
.flaticon-knife-with-blood:before { content: "\f1a6"; }
.flaticon-ladder-with-four-steps:before { content: "\f1a7"; }
.flaticon-large-spoon:before { content: "\f1a8"; }
.flaticon-led-bulb:before { content: "\f1a9"; }
.flaticon-lifter-machine:before { content: "\f1aa"; }
.flaticon-lighting-flare:before { content: "\f1ab"; }
.flaticon-lightning-arrow:before { content: "\f1ac"; }
.flaticon-lightning-bolt-button:before { content: "\f1ad"; }
.flaticon-link-chain:before { content: "\f1ae"; }
.flaticon-loaf-of-bread:before { content: "\f1af"; }
.flaticon-locato:before { content: "\f1b0"; }
.flaticon-long-car:before { content: "\f1b1"; }
.flaticon-long-leg:before { content: "\f1b2"; }
.flaticon-low-temperature-reading:before { content: "\f1b3"; }
.flaticon-luxury-yacht:before { content: "\f1b4"; }
.flaticon-mac-screen:before { content: "\f1b5"; }
.flaticon-magic-wand-with-sparkles:before { content: "\f1b6"; }
.flaticon-male-user:before { content: "\f1b7"; }
.flaticon-male-user-1:before { content: "\f1b8"; }
.flaticon-male-users:before { content: "\f1b9"; }
.flaticon-man-running:before { content: "\f1ba"; }
.flaticon-man-with-arm-injury:before { content: "\f1bb"; }
.flaticon-maya-pyramid:before { content: "\f1bc"; }
.flaticon-medical-first-aid-kit:before { content: "\f1bd"; }
.flaticon-medical-house:before { content: "\f1be"; }
.flaticon-medical-stethoscope:before { content: "\f1bf"; }
.flaticon-medication-capsule:before { content: "\f1c0"; }
.flaticon-menorah:before { content: "\f1c1"; }
.flaticon-mexican-hat-and-mustache:before { content: "\f1c2"; }
.flaticon-microscope:before { content: "\f1c3"; }
.flaticon-milk-bottle:before { content: "\f1c4"; }
.flaticon-movie-camera:before { content: "\f1c5"; }
.flaticon-musical-note-symbol:before { content: "\f1c6"; }
.flaticon-navigation-compass:before { content: "\f1c7"; }
.flaticon-neck-part:before { content: "\f1c8"; }
.flaticon-nice-temperature:before { content: "\f1c9"; }
.flaticon-nuclear-cells:before { content: "\f1ca"; }
.flaticon-number-one-medal:before { content: "\f1cb"; }
.flaticon-old-bicycle:before { content: "\f1cc"; }
.flaticon-open-fan:before { content: "\f1cd"; }
.flaticon-open-scissors:before { content: "\f1ce"; }
.flaticon-opened-pin:before { content: "\f1cf"; }
.flaticon-paper-bird:before { content: "\f1d0"; }
.flaticon-paper-roll:before { content: "\f1d1"; }
.flaticon-pc-storage:before { content: "\f1d2"; }
.flaticon-pepper-container:before { content: "\f1d3"; }
.flaticon-piston-on:before { content: "\f1d4"; }
.flaticon-plane-taking-off:before { content: "\f1d5"; }
.flaticon-plant-leaves:before { content: "\f1d6"; }
.flaticon-power-plant:before { content: "\f1d7"; }
.flaticon-pranava-om:before { content: "\f1d8"; }
.flaticon-quartz:before { content: "\f1d9"; }
.flaticon-question-mark-in-a-shield:before { content: "\f1da"; }
.flaticon-racing-bike:before { content: "\f1db"; }
.flaticon-racket-and-ball:before { content: "\f1dc"; }
.flaticon-radioactive-elements:before { content: "\f1dd"; }
.flaticon-radioactive-symbol:before { content: "\f1de"; }
.flaticon-rainbow-behind-a-cloud:before { content: "\f1df"; }
.flaticon-random-access-memory-chip:before { content: "\f1e0"; }
.flaticon-rectangular-musical-note:before { content: "\f1e1"; }
.flaticon-recycle-triangle:before { content: "\f1e2"; }
.flaticon-remote-control-signal:before { content: "\f1e3"; }
.flaticon-resistor:before { content: "\f1e4"; }
.flaticon-restaurant-fork:before { content: "\f1e5"; }
.flaticon-rhombus:before { content: "\f1e6"; }
.flaticon-robotic-arm:before { content: "\f1e7"; }
.flaticon-rocket-launched:before { content: "\f1e8"; }
.flaticon-round-cloud:before { content: "\f1e9"; }
.flaticon-round-teapot:before { content: "\f1ea"; }
.flaticon-router-with-screen:before { content: "\f1eb"; }
.flaticon-royal-crown:before { content: "\f1ec"; }
.flaticon-rugby-ball:before { content: "\f1ed"; }
.flaticon-rugby-helmet:before { content: "\f1ee"; }
.flaticon-running-at-finish-line:before { content: "\f1ef"; }
.flaticon-sagrada-familia-building:before { content: "\f1f0"; }
.flaticon-sail-boat-sailing:before { content: "\f1f1"; }
.flaticon-satellite-transmission:before { content: "\f1f2"; }
.flaticon-school-van:before { content: "\f1f3"; }
.flaticon-scooter-bike:before { content: "\f1f4"; }
.flaticon-scroll-with-message-inside:before { content: "\f1f5"; }
.flaticon-security-warning:before { content: "\f1f6"; }
.flaticon-segment-displa:before { content: "\f1f7"; }
.flaticon-sharp-carrot:before { content: "\f1f8"; }
.flaticon-shield-refresh:before { content: "\f1f9"; }
.flaticon-shield-restriction:before { content: "\f1fa"; }
.flaticon-shield-shape:before { content: "\f1fb"; }
.flaticon-shield-with-cross-mark:before { content: "\f1fc"; }
.flaticon-shining-sun-with-rays:before { content: "\f1fd"; }
.flaticon-shoulders:before { content: "\f1fe"; }
.flaticon-signal-dish-satellite:before { content: "\f1ff"; }
.flaticon-sitting-rabbit:before { content: "\f200"; }
.flaticon-skiing-down-hill:before { content: "\f201"; }
.flaticon-small-helicopter:before { content: "\f202"; }
.flaticon-snowing-cloud:before { content: "\f203"; }
.flaticon-space-satellite:before { content: "\f204"; }
.flaticon-spindle:before { content: "\f205"; }
.flaticon-star-of-david:before { content: "\f206"; }
.flaticon-storage-device:before { content: "\f207"; }
.flaticon-street-signals:before { content: "\f208"; }
.flaticon-streetcar-front:before { content: "\f209"; }
.flaticon-sugar-container:before { content: "\f20a"; }
.flaticon-sun-cloud-and-rain:before { content: "\f20b"; }
.flaticon-sunny-pronostic:before { content: "\f20c"; }
.flaticon-sushi-and-chopsticks:before { content: "\f20d"; }
.flaticon-swimmer-swimming:before { content: "\f20e"; }
.flaticon-syringe-with-measure-marks:before { content: "\f20f"; }
.flaticon-t-shirt-with-flowers:before { content: "\f210"; }
.flaticon-taco:before { content: "\f211"; }
.flaticon-television-remote-control:before { content: "\f212"; }
.flaticon-tennis-sport-ball:before { content: "\f213"; }
.flaticon-thermometer-and-sun:before { content: "\f214"; }
.flaticon-thor-hammer:before { content: "\f215"; }
.flaticon-three-fingers:before { content: "\f216"; }
.flaticon-thumb-finger-up:before { content: "\f217"; }
.flaticon-thumbs-down-hand:before { content: "\f218"; }
.flaticon-thunderstorm-clouds:before { content: "\f219"; }
.flaticon-torii:before { content: "\f21a"; }
.flaticon-tradegy-mask:before { content: "\f21b"; }
.flaticon-trailer-for-car:before { content: "\f21c"; }
.flaticon-train-front:before { content: "\f21d"; }
.flaticon-treasure-map-with-x:before { content: "\f21e"; }
.flaticon-triangular-pizza-slice:before { content: "\f21f"; }
.flaticon-trunk:before { content: "\f220"; }
.flaticon-two-boxing-gloves:before { content: "\f221"; }
.flaticon-two-eggs:before { content: "\f222"; }
.flaticon-two-fingers-up:before { content: "\f223"; }
.flaticon-two-overlapping-square:before { content: "\f224"; }
.flaticon-two-pyramids:before { content: "\f225"; }
.flaticon-two-snow-flakes:before { content: "\f226"; }
.flaticon-two-women-on-line:before { content: "\f227"; }
.flaticon-user-protection:before { content: "\f228"; }
.flaticon-van-profile:before { content: "\f229"; }
.flaticon-vehicle-speedometer:before { content: "\f22a"; }
.flaticon-vehicle-steering-wheel:before { content: "\f22b"; }
.flaticon-very-cold-temperature:before { content: "\f22c"; }
.flaticon-viking-helmet:before { content: "\f22d"; }
.flaticon-viking-ship:before { content: "\f22e"; }
.flaticon-vintage-personal-computer:before { content: "\f22f"; }
.flaticon-vintage-teapot:before { content: "\f230"; }
.flaticon-voip-router:before { content: "\f231"; }
.flaticon-volley-ball:before { content: "\f232"; }
.flaticon-warm-black-mug:before { content: "\f233"; }
.flaticon-web-shield:before { content: "\f234"; }
.flaticon-weight-lifter:before { content: "\f235"; }
.flaticon-wifi-chip:before { content: "\f236"; }
.flaticon-wifi-logo:before { content: "\f237"; }
.flaticon-wind-and-rain:before { content: "\f238"; }
.flaticon-wind-swirls:before { content: "\f239"; }
.flaticon-windows-screen:before { content: "\f23a"; }
.flaticon-wine-glass:before { content: "\f23b"; }
.flaticon-wireless-receptor:before { content: "\f23c"; }
.flaticon-wireless-signal:before { content: "\f23d"; }
.flaticon-wireless-transmitter:before { content: "\f23e"; }
.flaticon-wolf-howling:before { content: "\f23f"; }
.flaticon-woman-profile:before { content: "\f240"; }
.flaticon-woman-uterus:before { content: "\f241"; }
.flaticon-world-wide-web-on-grid:before { content: "\f242"; }
.flaticon-yacht-navigate:before { content: "\f243"; }
.flaticon-yin-yang-symbol:before { content: "\f244"; }
    
    $font-Flaticon-ace-of-spades: "\f100";
    $font-Flaticon-alcohol-bottle: "\f101";
    $font-Flaticon-alien-spaceship: "\f102";
    $font-Flaticon-ambulance-alert: "\f103";
    $font-Flaticon-app-bug: "\f104";
    $font-Flaticon-arraving-airplane: "\f105";
    $font-Flaticon-arrows-inside-a-circle: "\f106";
    $font-Flaticon-atomic-structure: "\f107";
    $font-Flaticon-baby-bib-with-flower-design: "\f108";
    $font-Flaticon-baby-cot: "\f109";
    $font-Flaticon-baby-diaper: "\f10a";
    $font-Flaticon-baby-milk-bottle: "\f10b";
    $font-Flaticon-baby-pacifier: "\f10c";
    $font-Flaticon-baby-trolley: "\f10d";
    $font-Flaticon-baby-with-diaper: "\f10e";
    $font-Flaticon-back-part: "\f10f";
    $font-Flaticon-badminton-feather: "\f110";
    $font-Flaticon-band-aid: "\f111";
    $font-Flaticon-baseball-ball: "\f112";
    $font-Flaticon-basket-full: "\f113";
    $font-Flaticon-basketball-ball-with-line: "\f114";
    $font-Flaticon-beer-jar: "\f115";
    $font-Flaticon-biceps-of-a-man: "\f116";
    $font-Flaticon-big-and-small-drops: "\f117";
    $font-Flaticon-big-heart-and-little-heart: "\f118";
    $font-Flaticon-big-opened-umbrella: "\f119";
    $font-Flaticon-big-snowflake: "\f11a";
    $font-Flaticon-bike-tricks: "\f11b";
    $font-Flaticon-bike-with-motor-ios-7-interface-symbol: "\f11c";
    $font-Flaticon-biohazard-symbol: "\f11d";
    $font-Flaticon-black-bottle: "\f11e";
    $font-Flaticon-black-heart-shaped: "\f11f";
    $font-Flaticon-blank-thermometer: "\f120";
    $font-Flaticon-block-with-letters: "\f121";
    $font-Flaticon-blood-drop: "\f122";
    $font-Flaticon-bluetooth-signal: "\f123";
    $font-Flaticon-body-thermometer: "\f124";
    $font-Flaticon-bowling-ball: "\f125";
    $font-Flaticon-bowling-pins: "\f126";
    $font-Flaticon-branderbourg-gate: "\f127";
    $font-Flaticon-browser-shield: "\f128";
    $font-Flaticon-cake-with-one-candle: "\f129";
    $font-Flaticon-canvas: "\f12a";
    $font-Flaticon-car: "\f12b";
    $font-Flaticon-car-battery: "\f12c";
    $font-Flaticon-car-steering-wheel: "\f12d";
    $font-Flaticon-car-wit-chassis: "\f12e";
    $font-Flaticon-cd-record: "\f12f";
    $font-Flaticon-chain-tag: "\f130";
    $font-Flaticon-chest: "\f131";
    $font-Flaticon-chicken: "\f132";
    $font-Flaticon-chinese-lantern: "\f133";
    $font-Flaticon-christian-cross: "\f134";
    $font-Flaticon-circles-inside-a-square: "\f135";
    $font-Flaticon-circuit-board: "\f136";
    $font-Flaticon-clear-night: "\f137";
    $font-Flaticon-cloud-expansion: "\f138";
    $font-Flaticon-cloud-night: "\f139";
    $font-Flaticon-cloud-storage-drive: "\f13a";
    $font-Flaticon-clouded-pronostic: "\f13b";
    $font-Flaticon-cloudy-day: "\f13c";
    $font-Flaticon-cloudy-night: "\f13d";
    $font-Flaticon-clover-ace: "\f13e";
    $font-Flaticon-cogwheel-options: "\f13f";
    $font-Flaticon-cold-temperature: "\f140";
    $font-Flaticon-comedy-mask: "\f141";
    $font-Flaticon-compass-pointing-east: "\f142";
    $font-Flaticon-compass-pointing-north: "\f143";
    $font-Flaticon-compass-pointing-south: "\f144";
    $font-Flaticon-compass-pointing-south-east: "\f145";
    $font-Flaticon-compass-pointing-west: "\f146";
    $font-Flaticon-computer-chip: "\f147";
    $font-Flaticon-computer-micro-chip: "\f148";
    $font-Flaticon-computer-microprocessor: "\f149";
    $font-Flaticon-computer-screen-linux: "\f14a";
    $font-Flaticon-computer-tower: "\f14b";
    $font-Flaticon-connections: "\f14c";
    $font-Flaticon-cord-lace: "\f14d";
    $font-Flaticon-covered-dust-bin: "\f14e";
    $font-Flaticon-crab-top-view: "\f14f";
    $font-Flaticon-cruise-ship-navigating: "\f150";
    $font-Flaticon-crying-baby: "\f151";
    $font-Flaticon-cup-of-wine: "\f152";
    $font-Flaticon-cutlery-utensils: "\f153";
    $font-Flaticon-cyclist: "\f154";
    $font-Flaticon-cyclist-runner: "\f155";
    $font-Flaticon-dark-cup: "\f156";
    $font-Flaticon-dentist-pincers: "\f157";
    $font-Flaticon-detective-search: "\f158";
    $font-Flaticon-dharma-chakra: "\f159";
    $font-Flaticon-direct-wifi-logo: "\f15a";
    $font-Flaticon-disconnected-chains: "\f15b";
    $font-Flaticon-dish-signal: "\f15c";
    $font-Flaticon-dish-signal-transmission: "\f15d";
    $font-Flaticon-disk-storage: "\f15e";
    $font-Flaticon-dna-chromosome: "\f15f";
    $font-Flaticon-double-burger: "\f160";
    $font-Flaticon-double-gym-dumbbell: "\f161";
    $font-Flaticon-drive-link: "\f162";
    $font-Flaticon-drive-with-a-crown: "\f163";
    $font-Flaticon-dvd-drive: "\f164";
    $font-Flaticon-eco-light-bulb: "\f165";
    $font-Flaticon-eco-windmill: "\f166";
    $font-Flaticon-egyptian-ankh: "\f167";
    $font-Flaticon-electric-plug: "\f168";
    $font-Flaticon-electrocardiogram-line: "\f169";
    $font-Flaticon-emmental-cheese: "\f16a";
    $font-Flaticon-engine-with-lighting-bolt: "\f16b";
    $font-Flaticon-expand-square: "\f16c";
    $font-Flaticon-experiment-flask-with-leaves-symbol: "\f16d";
    $font-Flaticon-factory-building: "\f16e";
    $font-Flaticon-favorite-wireles-conecction: "\f16f";
    $font-Flaticon-female-user-with-short-hair-avatar: "\f170";
    $font-Flaticon-fencing-attack: "\f171";
    $font-Flaticon-ferry-with-car: "\f172";
    $font-Flaticon-finger-gun: "\f173";
    $font-Flaticon-finger-up: "\f174";
    $font-Flaticon-fire-flame: "\f175";
    $font-Flaticon-firewall-flame: "\f176";
    $font-Flaticon-fish-bones: "\f177";
    $font-Flaticon-fishing-boat: "\f178";
    $font-Flaticon-five-fingers: "\f179";
    $font-Flaticon-flame-extinguisher: "\f17a";
    $font-Flaticon-flamingo: "\f17b";
    $font-Flaticon-flying-aeroplane-top-view: "\f17c";
    $font-Flaticon-football-ball-circular: "\f17d";
    $font-Flaticon-football-player-with-ball: "\f17e";
    $font-Flaticon-four-finger-in-hand: "\f17f";
    $font-Flaticon-french-fries-box: "\f180";
    $font-Flaticon-frequency-antenna: "\f181";
    $font-Flaticon-frontal-cab: "\f182";
    $font-Flaticon-frontal-large-bus: "\f183";
    $font-Flaticon-frontal-solar-panel: "\f184";
    $font-Flaticon-full-computer: "\f185";
    $font-Flaticon-gas-mask: "\f186";
    $font-Flaticon-gear-option: "\f187";
    $font-Flaticon-german-hat-with-small-feather: "\f188";
    $font-Flaticon-great-wall-of-china-doodle: "\f189";
    $font-Flaticon-hand-gun: "\f18a";
    $font-Flaticon-hang-hook: "\f18b";
    $font-Flaticon-hanging-ladder: "\f18c";
    $font-Flaticon-hard-drive-device: "\f18d";
    $font-Flaticon-hat: "\f18e";
    $font-Flaticon-hierarchical-order: "\f18f";
    $font-Flaticon-hierarchical-structure: "\f190";
    $font-Flaticon-hierarchy-levels: "\f191";
    $font-Flaticon-high-temperature: "\f192";
    $font-Flaticon-holy-book: "\f193";
    $font-Flaticon-honey-jar: "\f194";
    $font-Flaticon-hot-chilli-pepper: "\f195";
    $font-Flaticon-hotdog-and-bread: "\f196";
    $font-Flaticon-human-foot-prints: "\f197";
    $font-Flaticon-hydro-power-generation: "\f198";
    $font-Flaticon-increasing-temperature: "\f199";
    $font-Flaticon-integrated-chip: "\f19a";
    $font-Flaticon-integrated-circuit: "\f19b";
    $font-Flaticon-ip-address-point-locator: "\f19c";
    $font-Flaticon-iron-soldering: "\f19d";
    $font-Flaticon-islamic-crescent-with-small-star: "\f19e";
    $font-Flaticon-islamic-mosque: "\f19f";
    $font-Flaticon-jet-ski: "\f1a0";
    $font-Flaticon-joker-face: "\f1a1";
    $font-Flaticon-jump-rope: "\f1a2";
    $font-Flaticon-king-crown: "\f1a3";
    $font-Flaticon-kitchen-pot: "\f1a4";
    $font-Flaticon-knife-shape: "\f1a5";
    $font-Flaticon-knife-with-blood: "\f1a6";
    $font-Flaticon-ladder-with-four-steps: "\f1a7";
    $font-Flaticon-large-spoon: "\f1a8";
    $font-Flaticon-led-bulb: "\f1a9";
    $font-Flaticon-lifter-machine: "\f1aa";
    $font-Flaticon-lighting-flare: "\f1ab";
    $font-Flaticon-lightning-arrow: "\f1ac";
    $font-Flaticon-lightning-bolt-button: "\f1ad";
    $font-Flaticon-link-chain: "\f1ae";
    $font-Flaticon-loaf-of-bread: "\f1af";
    $font-Flaticon-locato: "\f1b0";
    $font-Flaticon-long-car: "\f1b1";
    $font-Flaticon-long-leg: "\f1b2";
    $font-Flaticon-low-temperature-reading: "\f1b3";
    $font-Flaticon-luxury-yacht: "\f1b4";
    $font-Flaticon-mac-screen: "\f1b5";
    $font-Flaticon-magic-wand-with-sparkles: "\f1b6";
    $font-Flaticon-male-user: "\f1b7";
    $font-Flaticon-male-user-1: "\f1b8";
    $font-Flaticon-male-users: "\f1b9";
    $font-Flaticon-man-running: "\f1ba";
    $font-Flaticon-man-with-arm-injury: "\f1bb";
    $font-Flaticon-maya-pyramid: "\f1bc";
    $font-Flaticon-medical-first-aid-kit: "\f1bd";
    $font-Flaticon-medical-house: "\f1be";
    $font-Flaticon-medical-stethoscope: "\f1bf";
    $font-Flaticon-medication-capsule: "\f1c0";
    $font-Flaticon-menorah: "\f1c1";
    $font-Flaticon-mexican-hat-and-mustache: "\f1c2";
    $font-Flaticon-microscope: "\f1c3";
    $font-Flaticon-milk-bottle: "\f1c4";
    $font-Flaticon-movie-camera: "\f1c5";
    $font-Flaticon-musical-note-symbol: "\f1c6";
    $font-Flaticon-navigation-compass: "\f1c7";
    $font-Flaticon-neck-part: "\f1c8";
    $font-Flaticon-nice-temperature: "\f1c9";
    $font-Flaticon-nuclear-cells: "\f1ca";
    $font-Flaticon-number-one-medal: "\f1cb";
    $font-Flaticon-old-bicycle: "\f1cc";
    $font-Flaticon-open-fan: "\f1cd";
    $font-Flaticon-open-scissors: "\f1ce";
    $font-Flaticon-opened-pin: "\f1cf";
    $font-Flaticon-paper-bird: "\f1d0";
    $font-Flaticon-paper-roll: "\f1d1";
    $font-Flaticon-pc-storage: "\f1d2";
    $font-Flaticon-pepper-container: "\f1d3";
    $font-Flaticon-piston-on: "\f1d4";
    $font-Flaticon-plane-taking-off: "\f1d5";
    $font-Flaticon-plant-leaves: "\f1d6";
    $font-Flaticon-power-plant: "\f1d7";
    $font-Flaticon-pranava-om: "\f1d8";
    $font-Flaticon-quartz: "\f1d9";
    $font-Flaticon-question-mark-in-a-shield: "\f1da";
    $font-Flaticon-racing-bike: "\f1db";
    $font-Flaticon-racket-and-ball: "\f1dc";
    $font-Flaticon-radioactive-elements: "\f1dd";
    $font-Flaticon-radioactive-symbol: "\f1de";
    $font-Flaticon-rainbow-behind-a-cloud: "\f1df";
    $font-Flaticon-random-access-memory-chip: "\f1e0";
    $font-Flaticon-rectangular-musical-note: "\f1e1";
    $font-Flaticon-recycle-triangle: "\f1e2";
    $font-Flaticon-remote-control-signal: "\f1e3";
    $font-Flaticon-resistor: "\f1e4";
    $font-Flaticon-restaurant-fork: "\f1e5";
    $font-Flaticon-rhombus: "\f1e6";
    $font-Flaticon-robotic-arm: "\f1e7";
    $font-Flaticon-rocket-launched: "\f1e8";
    $font-Flaticon-round-cloud: "\f1e9";
    $font-Flaticon-round-teapot: "\f1ea";
    $font-Flaticon-router-with-screen: "\f1eb";
    $font-Flaticon-royal-crown: "\f1ec";
    $font-Flaticon-rugby-ball: "\f1ed";
    $font-Flaticon-rugby-helmet: "\f1ee";
    $font-Flaticon-running-at-finish-line: "\f1ef";
    $font-Flaticon-sagrada-familia-building: "\f1f0";
    $font-Flaticon-sail-boat-sailing: "\f1f1";
    $font-Flaticon-satellite-transmission: "\f1f2";
    $font-Flaticon-school-van: "\f1f3";
    $font-Flaticon-scooter-bike: "\f1f4";
    $font-Flaticon-scroll-with-message-inside: "\f1f5";
    $font-Flaticon-security-warning: "\f1f6";
    $font-Flaticon-segment-displa: "\f1f7";
    $font-Flaticon-sharp-carrot: "\f1f8";
    $font-Flaticon-shield-refresh: "\f1f9";
    $font-Flaticon-shield-restriction: "\f1fa";
    $font-Flaticon-shield-shape: "\f1fb";
    $font-Flaticon-shield-with-cross-mark: "\f1fc";
    $font-Flaticon-shining-sun-with-rays: "\f1fd";
    $font-Flaticon-shoulders: "\f1fe";
    $font-Flaticon-signal-dish-satellite: "\f1ff";
    $font-Flaticon-sitting-rabbit: "\f200";
    $font-Flaticon-skiing-down-hill: "\f201";
    $font-Flaticon-small-helicopter: "\f202";
    $font-Flaticon-snowing-cloud: "\f203";
    $font-Flaticon-space-satellite: "\f204";
    $font-Flaticon-spindle: "\f205";
    $font-Flaticon-star-of-david: "\f206";
    $font-Flaticon-storage-device: "\f207";
    $font-Flaticon-street-signals: "\f208";
    $font-Flaticon-streetcar-front: "\f209";
    $font-Flaticon-sugar-container: "\f20a";
    $font-Flaticon-sun-cloud-and-rain: "\f20b";
    $font-Flaticon-sunny-pronostic: "\f20c";
    $font-Flaticon-sushi-and-chopsticks: "\f20d";
    $font-Flaticon-swimmer-swimming: "\f20e";
    $font-Flaticon-syringe-with-measure-marks: "\f20f";
    $font-Flaticon-t-shirt-with-flowers: "\f210";
    $font-Flaticon-taco: "\f211";
    $font-Flaticon-television-remote-control: "\f212";
    $font-Flaticon-tennis-sport-ball: "\f213";
    $font-Flaticon-thermometer-and-sun: "\f214";
    $font-Flaticon-thor-hammer: "\f215";
    $font-Flaticon-three-fingers: "\f216";
    $font-Flaticon-thumb-finger-up: "\f217";
    $font-Flaticon-thumbs-down-hand: "\f218";
    $font-Flaticon-thunderstorm-clouds: "\f219";
    $font-Flaticon-torii: "\f21a";
    $font-Flaticon-tradegy-mask: "\f21b";
    $font-Flaticon-trailer-for-car: "\f21c";
    $font-Flaticon-train-front: "\f21d";
    $font-Flaticon-treasure-map-with-x: "\f21e";
    $font-Flaticon-triangular-pizza-slice: "\f21f";
    $font-Flaticon-trunk: "\f220";
    $font-Flaticon-two-boxing-gloves: "\f221";
    $font-Flaticon-two-eggs: "\f222";
    $font-Flaticon-two-fingers-up: "\f223";
    $font-Flaticon-two-overlapping-square: "\f224";
    $font-Flaticon-two-pyramids: "\f225";
    $font-Flaticon-two-snow-flakes: "\f226";
    $font-Flaticon-two-women-on-line: "\f227";
    $font-Flaticon-user-protection: "\f228";
    $font-Flaticon-van-profile: "\f229";
    $font-Flaticon-vehicle-speedometer: "\f22a";
    $font-Flaticon-vehicle-steering-wheel: "\f22b";
    $font-Flaticon-very-cold-temperature: "\f22c";
    $font-Flaticon-viking-helmet: "\f22d";
    $font-Flaticon-viking-ship: "\f22e";
    $font-Flaticon-vintage-personal-computer: "\f22f";
    $font-Flaticon-vintage-teapot: "\f230";
    $font-Flaticon-voip-router: "\f231";
    $font-Flaticon-volley-ball: "\f232";
    $font-Flaticon-warm-black-mug: "\f233";
    $font-Flaticon-web-shield: "\f234";
    $font-Flaticon-weight-lifter: "\f235";
    $font-Flaticon-wifi-chip: "\f236";
    $font-Flaticon-wifi-logo: "\f237";
    $font-Flaticon-wind-and-rain: "\f238";
    $font-Flaticon-wind-swirls: "\f239";
    $font-Flaticon-windows-screen: "\f23a";
    $font-Flaticon-wine-glass: "\f23b";
    $font-Flaticon-wireless-receptor: "\f23c";
    $font-Flaticon-wireless-signal: "\f23d";
    $font-Flaticon-wireless-transmitter: "\f23e";
    $font-Flaticon-wolf-howling: "\f23f";
    $font-Flaticon-woman-profile: "\f240";
    $font-Flaticon-woman-uterus: "\f241";
    $font-Flaticon-world-wide-web-on-grid: "\f242";
    $font-Flaticon-yacht-navigate: "\f243";
    $font-Flaticon-yin-yang-symbol: "\f244";