    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:44
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-aeroplane:before { content: "\f100"; }
.flaticon-airplane:before { content: "\f101"; }
.flaticon-airplane-1:before { content: "\f102"; }
.flaticon-ambulance:before { content: "\f103"; }
.flaticon-ankh:before { content: "\f104"; }
.flaticon-antenna:before { content: "\f105"; }
.flaticon-arc:before { content: "\f106"; }
.flaticon-atom:before { content: "\f107"; }
.flaticon-baby:before { content: "\f108"; }
.flaticon-baby-bib:before { content: "\f109"; }
.flaticon-baby-cradle:before { content: "\f10a"; }
.flaticon-baby-nipple:before { content: "\f10b"; }
.flaticon-baby-trolley:before { content: "\f10c"; }
.flaticon-badminton:before { content: "\f10d"; }
.flaticon-band-aid:before { content: "\f10e"; }
.flaticon-baseball:before { content: "\f10f"; }
.flaticon-basketball:before { content: "\f110"; }
.flaticon-battery:before { content: "\f111"; }
.flaticon-beer:before { content: "\f112"; }
.flaticon-biceps:before { content: "\f113"; }
.flaticon-bicycle:before { content: "\f114"; }
.flaticon-blades:before { content: "\f115"; }
.flaticon-blocks:before { content: "\f116"; }
.flaticon-bluetooth:before { content: "\f117"; }
.flaticon-bottle:before { content: "\f118"; }
.flaticon-bottle-1:before { content: "\f119"; }
.flaticon-bottle-2:before { content: "\f11a"; }
.flaticon-bowling:before { content: "\f11b"; }
.flaticon-bowling-pins:before { content: "\f11c"; }
.flaticon-boxing-gloves:before { content: "\f11d"; }
.flaticon-branderbourg-gate:before { content: "\f11e"; }
.flaticon-bread:before { content: "\f11f"; }
.flaticon-broken-link:before { content: "\f120"; }
.flaticon-bug:before { content: "\f121"; }
.flaticon-bus:before { content: "\f122"; }
.flaticon-cake:before { content: "\f123"; }
.flaticon-cap:before { content: "\f124"; }
.flaticon-car:before { content: "\f125"; }
.flaticon-car-1:before { content: "\f126"; }
.flaticon-car-2:before { content: "\f127"; }
.flaticon-carrot:before { content: "\f128"; }
.flaticon-casserole:before { content: "\f129"; }
.flaticon-cd:before { content: "\f12a"; }
.flaticon-cheese:before { content: "\f12b"; }
.flaticon-chest:before { content: "\f12c"; }
.flaticon-chichen-itza:before { content: "\f12d"; }
.flaticon-chicken:before { content: "\f12e"; }
.flaticon-chip:before { content: "\f12f"; }
.flaticon-circuit-board:before { content: "\f130"; }
.flaticon-cloud:before { content: "\f131"; }
.flaticon-cloud-1:before { content: "\f132"; }
.flaticon-cloud-2:before { content: "\f133"; }
.flaticon-cloud-expand:before { content: "\f134"; }
.flaticon-cloud-storage:before { content: "\f135"; }
.flaticon-clouds:before { content: "\f136"; }
.flaticon-cloudy:before { content: "\f137"; }
.flaticon-cloudy-1:before { content: "\f138"; }
.flaticon-clown:before { content: "\f139"; }
.flaticon-clubs:before { content: "\f13a"; }
.flaticon-cocktail:before { content: "\f13b"; }
.flaticon-coffee:before { content: "\f13c"; }
.flaticon-cogwheel:before { content: "\f13d"; }
.flaticon-compass:before { content: "\f13e"; }
.flaticon-compass-1:before { content: "\f13f"; }
.flaticon-compass-2:before { content: "\f140"; }
.flaticon-computer:before { content: "\f141"; }
.flaticon-computer-micro-chip:before { content: "\f142"; }
.flaticon-computer-microprocessor:before { content: "\f143"; }
.flaticon-computer-monitor:before { content: "\f144"; }
.flaticon-crab:before { content: "\f145"; }
.flaticon-crescent-moon-behind-a-cloud:before { content: "\f146"; }
.flaticon-cross:before { content: "\f147"; }
.flaticon-crown:before { content: "\f148"; }
.flaticon-cruise-ship:before { content: "\f149"; }
.flaticon-crying-baby:before { content: "\f14a"; }
.flaticon-cycle:before { content: "\f14b"; }
.flaticon-cycling:before { content: "\f14c"; }
.flaticon-cyclist:before { content: "\f14d"; }
.flaticon-dart-board:before { content: "\f14e"; }
.flaticon-dentist-tool:before { content: "\f14f"; }
.flaticon-dharma-chakra:before { content: "\f150"; }
.flaticon-diamond:before { content: "\f151"; }
.flaticon-diapers:before { content: "\f152"; }
.flaticon-dish:before { content: "\f153"; }
.flaticon-disk-storage:before { content: "\f154"; }
.flaticon-dna:before { content: "\f155"; }
.flaticon-documentary:before { content: "\f156"; }
.flaticon-drive-disk:before { content: "\f157"; }
.flaticon-drive-link:before { content: "\f158"; }
.flaticon-drive-sata:before { content: "\f159"; }
.flaticon-drop:before { content: "\f15a"; }
.flaticon-dumbbell:before { content: "\f15b"; }
.flaticon-dvd-drive:before { content: "\f15c"; }
.flaticon-east:before { content: "\f15d"; }
.flaticon-ecg:before { content: "\f15e"; }
.flaticon-eco-energy:before { content: "\f15f"; }
.flaticon-eggs:before { content: "\f160"; }
.flaticon-engine:before { content: "\f161"; }
.flaticon-expand:before { content: "\f162"; }
.flaticon-extinguisher:before { content: "\f163"; }
.flaticon-factory-building:before { content: "\f164"; }
.flaticon-fan:before { content: "\f165"; }
.flaticon-feeding-bottle:before { content: "\f166"; }
.flaticon-female-user:before { content: "\f167"; }
.flaticon-fencing:before { content: "\f168"; }
.flaticon-ferry:before { content: "\f169"; }
.flaticon-fire-flame:before { content: "\f16a"; }
.flaticon-firewall:before { content: "\f16b"; }
.flaticon-first-aid-kit:before { content: "\f16c"; }
.flaticon-fishing-boat:before { content: "\f16d"; }
.flaticon-flamingo:before { content: "\f16e"; }
.flaticon-flask:before { content: "\f16f"; }
.flaticon-flask-1:before { content: "\f170"; }
.flaticon-foot-print:before { content: "\f171"; }
.flaticon-football:before { content: "\f172"; }
.flaticon-football-player:before { content: "\f173"; }
.flaticon-fork:before { content: "\f174"; }
.flaticon-french-fries:before { content: "\f175"; }
.flaticon-garbage:before { content: "\f176"; }
.flaticon-german-hat:before { content: "\f177"; }
.flaticon-great-wall-of-china:before { content: "\f178"; }
.flaticon-gun:before { content: "\f179"; }
.flaticon-hamburguer:before { content: "\f17a"; }
.flaticon-hand:before { content: "\f17b"; }
.flaticon-hand-1:before { content: "\f17c"; }
.flaticon-hand-2:before { content: "\f17d"; }
.flaticon-heart:before { content: "\f17e"; }
.flaticon-hearts:before { content: "\f17f"; }
.flaticon-helicopter:before { content: "\f180"; }
.flaticon-helmet:before { content: "\f181"; }
.flaticon-hierarchical-order:before { content: "\f182"; }
.flaticon-hierarchical-structure:before { content: "\f183"; }
.flaticon-hierarchy:before { content: "\f184"; }
.flaticon-hierarchy-levels:before { content: "\f185"; }
.flaticon-high-temperature:before { content: "\f186"; }
.flaticon-holy-book:before { content: "\f187"; }
.flaticon-home:before { content: "\f188"; }
.flaticon-honey-jar:before { content: "\f189"; }
.flaticon-hot-dog:before { content: "\f18a"; }
.flaticon-hot-dog-1:before { content: "\f18b"; }
.flaticon-hydro-power-generation:before { content: "\f18c"; }
.flaticon-integrated-chip:before { content: "\f18d"; }
.flaticon-integrated-circuit:before { content: "\f18e"; }
.flaticon-ip-locator:before { content: "\f18f"; }
.flaticon-islam:before { content: "\f190"; }
.flaticon-jump-rope:before { content: "\f191"; }
.flaticon-knife:before { content: "\f192"; }
.flaticon-knife-1:before { content: "\f193"; }
.flaticon-ladder:before { content: "\f194"; }
.flaticon-ladder-1:before { content: "\f195"; }
.flaticon-lantern:before { content: "\f196"; }
.flaticon-led:before { content: "\f197"; }
.flaticon-leg:before { content: "\f198"; }
.flaticon-lifter:before { content: "\f199"; }
.flaticon-lifting-tool:before { content: "\f19a"; }
.flaticon-light-microchip:before { content: "\f19b"; }
.flaticon-lightning:before { content: "\f19c"; }
.flaticon-lightning-bolt:before { content: "\f19d"; }
.flaticon-link:before { content: "\f19e"; }
.flaticon-locator:before { content: "\f19f"; }
.flaticon-low-temperature:before { content: "\f1a0"; }
.flaticon-low-temperature-1:before { content: "\f1a1"; }
.flaticon-mac:before { content: "\f1a2"; }
.flaticon-magic-wand:before { content: "\f1a3"; }
.flaticon-magnifying-glass:before { content: "\f1a4"; }
.flaticon-male-user:before { content: "\f1a5"; }
.flaticon-man:before { content: "\f1a6"; }
.flaticon-map:before { content: "\f1a7"; }
.flaticon-mask:before { content: "\f1a8"; }
.flaticon-mask-1:before { content: "\f1a9"; }
.flaticon-medal:before { content: "\f1aa"; }
.flaticon-medication-capsule:before { content: "\f1ab"; }
.flaticon-memory-chip:before { content: "\f1ac"; }
.flaticon-menorah:before { content: "\f1ad"; }
.flaticon-mexican-hat:before { content: "\f1ae"; }
.flaticon-microscope:before { content: "\f1af"; }
.flaticon-mobile-tower:before { content: "\f1b0"; }
.flaticon-moon-and-stars:before { content: "\f1b1"; }
.flaticon-mosque:before { content: "\f1b2"; }
.flaticon-motorcycle:before { content: "\f1b3"; }
.flaticon-mountain-biking:before { content: "\f1b4"; }
.flaticon-musical-note:before { content: "\f1b5"; }
.flaticon-musical-note-1:before { content: "\f1b6"; }
.flaticon-navigation-button:before { content: "\f1b7"; }
.flaticon-neck:before { content: "\f1b8"; }
.flaticon-nuclear-cells:before { content: "\f1b9"; }
.flaticon-painting:before { content: "\f1ba"; }
.flaticon-paper-bird:before { content: "\f1bb"; }
.flaticon-pc:before { content: "\f1bc"; }
.flaticon-pepper:before { content: "\f1bd"; }
.flaticon-pin:before { content: "\f1be"; }
.flaticon-ping-pong:before { content: "\f1bf"; }
.flaticon-piston:before { content: "\f1c0"; }
.flaticon-pizza:before { content: "\f1c1"; }
.flaticon-plant-leaf:before { content: "\f1c2"; }
.flaticon-plug:before { content: "\f1c3"; }
.flaticon-pointing:before { content: "\f1c4"; }
.flaticon-power-plant:before { content: "\f1c5"; }
.flaticon-pranava:before { content: "\f1c6"; }
.flaticon-prelum:before { content: "\f1c7"; }
.flaticon-pretzel:before { content: "\f1c8"; }
.flaticon-pyramids:before { content: "\f1c9"; }
.flaticon-rabbit:before { content: "\f1ca"; }
.flaticon-radioactive:before { content: "\f1cb"; }
.flaticon-rainbow:before { content: "\f1cc"; }
.flaticon-rainbow-and-cloud:before { content: "\f1cd"; }
.flaticon-raindrops:before { content: "\f1ce"; }
.flaticon-recycle:before { content: "\f1cf"; }
.flaticon-red-hot-chili-pepper:before { content: "\f1d0"; }
.flaticon-remote-control:before { content: "\f1d1"; }
.flaticon-resistor:before { content: "\f1d2"; }
.flaticon-robotic-arm:before { content: "\f1d3"; }
.flaticon-rocket:before { content: "\f1d4"; }
.flaticon-router:before { content: "\f1d5"; }
.flaticon-router-1:before { content: "\f1d6"; }
.flaticon-royal-crown:before { content: "\f1d7"; }
.flaticon-rugby-ball:before { content: "\f1d8"; }
.flaticon-runner:before { content: "\f1d9"; }
.flaticon-running-man:before { content: "\f1da"; }
.flaticon-sagrada-familia:before { content: "\f1db"; }
.flaticon-sail-boat:before { content: "\f1dc"; }
.flaticon-satellite:before { content: "\f1dd"; }
.flaticon-satellite-transmission:before { content: "\f1de"; }
.flaticon-school-van:before { content: "\f1df"; }
.flaticon-scissor:before { content: "\f1e0"; }
.flaticon-scooter:before { content: "\f1e1"; }
.flaticon-screen:before { content: "\f1e2"; }
.flaticon-segment-display:before { content: "\f1e3"; }
.flaticon-server:before { content: "\f1e4"; }
.flaticon-settings:before { content: "\f1e5"; }
.flaticon-shield:before { content: "\f1e6"; }
.flaticon-shield-1:before { content: "\f1e7"; }
.flaticon-shield-2:before { content: "\f1e8"; }
.flaticon-shield-3:before { content: "\f1e9"; }
.flaticon-shield-4:before { content: "\f1ea"; }
.flaticon-shield-5:before { content: "\f1eb"; }
.flaticon-shield-application:before { content: "\f1ec"; }
.flaticon-shield-user:before { content: "\f1ed"; }
.flaticon-shopping-basket:before { content: "\f1ee"; }
.flaticon-shoulders:before { content: "\f1ef"; }
.flaticon-signal-dish-satellite:before { content: "\f1f0"; }
.flaticon-ski:before { content: "\f1f1"; }
.flaticon-smoke-mask:before { content: "\f1f2"; }
.flaticon-snow-flakes:before { content: "\f1f3"; }
.flaticon-snowflake:before { content: "\f1f4"; }
.flaticon-solar-panel:before { content: "\f1f5"; }
.flaticon-south-in-compass:before { content: "\f1f6"; }
.flaticon-spades:before { content: "\f1f7"; }
.flaticon-spark:before { content: "\f1f8"; }
.flaticon-spark-plug:before { content: "\f1f9"; }
.flaticon-speedometer:before { content: "\f1fa"; }
.flaticon-spindle:before { content: "\f1fb"; }
.flaticon-spoon:before { content: "\f1fc"; }
.flaticon-spoon-1:before { content: "\f1fd"; }
.flaticon-squares:before { content: "\f1fe"; }
.flaticon-star-of-david:before { content: "\f1ff"; }
.flaticon-steering-wheel:before { content: "\f200"; }
.flaticon-steering-wheel-1:before { content: "\f201"; }
.flaticon-stethoscope:before { content: "\f202"; }
.flaticon-storage:before { content: "\f203"; }
.flaticon-storm:before { content: "\f204"; }
.flaticon-street-signals:before { content: "\f205"; }
.flaticon-streetcar:before { content: "\f206"; }
.flaticon-sugar:before { content: "\f207"; }
.flaticon-sun:before { content: "\f208"; }
.flaticon-sun-1:before { content: "\f209"; }
.flaticon-sushi-and-chopsticks:before { content: "\f20a"; }
.flaticon-swimmer:before { content: "\f20b"; }
.flaticon-syringe:before { content: "\f20c"; }
.flaticon-t-shirt:before { content: "\f20d"; }
.flaticon-tag:before { content: "\f20e"; }
.flaticon-tanakh:before { content: "\f20f"; }
.flaticon-taxi:before { content: "\f210"; }
.flaticon-teapot:before { content: "\f211"; }
.flaticon-teapot-1:before { content: "\f212"; }
.flaticon-television-remote-control:before { content: "\f213"; }
.flaticon-temperature:before { content: "\f214"; }
.flaticon-tennis:before { content: "\f215"; }
.flaticon-thermometer:before { content: "\f216"; }
.flaticon-thermometer-1:before { content: "\f217"; }
.flaticon-thermometer-2:before { content: "\f218"; }
.flaticon-thermometer-3:before { content: "\f219"; }
.flaticon-thermometer-4:before { content: "\f21a"; }
.flaticon-thor-hammer:before { content: "\f21b"; }
.flaticon-three-fingers:before { content: "\f21c"; }
.flaticon-thumb-down:before { content: "\f21d"; }
.flaticon-thumbs-up:before { content: "\f21e"; }
.flaticon-toilet-paper:before { content: "\f21f"; }
.flaticon-torii:before { content: "\f220"; }
.flaticon-torso:before { content: "\f221"; }
.flaticon-trailer:before { content: "\f222"; }
.flaticon-train:before { content: "\f223"; }
.flaticon-two-fingers:before { content: "\f224"; }
.flaticon-ufo:before { content: "\f225"; }
.flaticon-umbrella:before { content: "\f226"; }
.flaticon-user:before { content: "\f227"; }
.flaticon-users:before { content: "\f228"; }
.flaticon-users-1:before { content: "\f229"; }
.flaticon-van:before { content: "\f22a"; }
.flaticon-viking-helmet:before { content: "\f22b"; }
.flaticon-viking-ship:before { content: "\f22c"; }
.flaticon-volleyball:before { content: "\f22d"; }
.flaticon-warning:before { content: "\f22e"; }
.flaticon-water-jet-ski:before { content: "\f22f"; }
.flaticon-weight-lifter:before { content: "\f230"; }
.flaticon-west:before { content: "\f231"; }
.flaticon-wifi:before { content: "\f232"; }
.flaticon-wifi-1:before { content: "\f233"; }
.flaticon-wifi-chip:before { content: "\f234"; }
.flaticon-windmill:before { content: "\f235"; }
.flaticon-window-in-a-pc-monitor-screen:before { content: "\f236"; }
.flaticon-windy:before { content: "\f237"; }
.flaticon-windy-1:before { content: "\f238"; }
.flaticon-wine-glass:before { content: "\f239"; }
.flaticon-wine-glass-1:before { content: "\f23a"; }
.flaticon-wireless-connection:before { content: "\f23b"; }
.flaticon-wireless-signal:before { content: "\f23c"; }
.flaticon-wireless-signal-1:before { content: "\f23d"; }
.flaticon-wolf:before { content: "\f23e"; }
.flaticon-woman:before { content: "\f23f"; }
.flaticon-world-wide-web:before { content: "\f240"; }
.flaticon-x-ray:before { content: "\f241"; }
.flaticon-yacht:before { content: "\f242"; }
.flaticon-yacht-1:before { content: "\f243"; }
.flaticon-yin-yang:before { content: "\f244"; }
    
    $font-Flaticon-aeroplane: "\f100";
    $font-Flaticon-airplane: "\f101";
    $font-Flaticon-airplane-1: "\f102";
    $font-Flaticon-ambulance: "\f103";
    $font-Flaticon-ankh: "\f104";
    $font-Flaticon-antenna: "\f105";
    $font-Flaticon-arc: "\f106";
    $font-Flaticon-atom: "\f107";
    $font-Flaticon-baby: "\f108";
    $font-Flaticon-baby-bib: "\f109";
    $font-Flaticon-baby-cradle: "\f10a";
    $font-Flaticon-baby-nipple: "\f10b";
    $font-Flaticon-baby-trolley: "\f10c";
    $font-Flaticon-badminton: "\f10d";
    $font-Flaticon-band-aid: "\f10e";
    $font-Flaticon-baseball: "\f10f";
    $font-Flaticon-basketball: "\f110";
    $font-Flaticon-battery: "\f111";
    $font-Flaticon-beer: "\f112";
    $font-Flaticon-biceps: "\f113";
    $font-Flaticon-bicycle: "\f114";
    $font-Flaticon-blades: "\f115";
    $font-Flaticon-blocks: "\f116";
    $font-Flaticon-bluetooth: "\f117";
    $font-Flaticon-bottle: "\f118";
    $font-Flaticon-bottle-1: "\f119";
    $font-Flaticon-bottle-2: "\f11a";
    $font-Flaticon-bowling: "\f11b";
    $font-Flaticon-bowling-pins: "\f11c";
    $font-Flaticon-boxing-gloves: "\f11d";
    $font-Flaticon-branderbourg-gate: "\f11e";
    $font-Flaticon-bread: "\f11f";
    $font-Flaticon-broken-link: "\f120";
    $font-Flaticon-bug: "\f121";
    $font-Flaticon-bus: "\f122";
    $font-Flaticon-cake: "\f123";
    $font-Flaticon-cap: "\f124";
    $font-Flaticon-car: "\f125";
    $font-Flaticon-car-1: "\f126";
    $font-Flaticon-car-2: "\f127";
    $font-Flaticon-carrot: "\f128";
    $font-Flaticon-casserole: "\f129";
    $font-Flaticon-cd: "\f12a";
    $font-Flaticon-cheese: "\f12b";
    $font-Flaticon-chest: "\f12c";
    $font-Flaticon-chichen-itza: "\f12d";
    $font-Flaticon-chicken: "\f12e";
    $font-Flaticon-chip: "\f12f";
    $font-Flaticon-circuit-board: "\f130";
    $font-Flaticon-cloud: "\f131";
    $font-Flaticon-cloud-1: "\f132";
    $font-Flaticon-cloud-2: "\f133";
    $font-Flaticon-cloud-expand: "\f134";
    $font-Flaticon-cloud-storage: "\f135";
    $font-Flaticon-clouds: "\f136";
    $font-Flaticon-cloudy: "\f137";
    $font-Flaticon-cloudy-1: "\f138";
    $font-Flaticon-clown: "\f139";
    $font-Flaticon-clubs: "\f13a";
    $font-Flaticon-cocktail: "\f13b";
    $font-Flaticon-coffee: "\f13c";
    $font-Flaticon-cogwheel: "\f13d";
    $font-Flaticon-compass: "\f13e";
    $font-Flaticon-compass-1: "\f13f";
    $font-Flaticon-compass-2: "\f140";
    $font-Flaticon-computer: "\f141";
    $font-Flaticon-computer-micro-chip: "\f142";
    $font-Flaticon-computer-microprocessor: "\f143";
    $font-Flaticon-computer-monitor: "\f144";
    $font-Flaticon-crab: "\f145";
    $font-Flaticon-crescent-moon-behind-a-cloud: "\f146";
    $font-Flaticon-cross: "\f147";
    $font-Flaticon-crown: "\f148";
    $font-Flaticon-cruise-ship: "\f149";
    $font-Flaticon-crying-baby: "\f14a";
    $font-Flaticon-cycle: "\f14b";
    $font-Flaticon-cycling: "\f14c";
    $font-Flaticon-cyclist: "\f14d";
    $font-Flaticon-dart-board: "\f14e";
    $font-Flaticon-dentist-tool: "\f14f";
    $font-Flaticon-dharma-chakra: "\f150";
    $font-Flaticon-diamond: "\f151";
    $font-Flaticon-diapers: "\f152";
    $font-Flaticon-dish: "\f153";
    $font-Flaticon-disk-storage: "\f154";
    $font-Flaticon-dna: "\f155";
    $font-Flaticon-documentary: "\f156";
    $font-Flaticon-drive-disk: "\f157";
    $font-Flaticon-drive-link: "\f158";
    $font-Flaticon-drive-sata: "\f159";
    $font-Flaticon-drop: "\f15a";
    $font-Flaticon-dumbbell: "\f15b";
    $font-Flaticon-dvd-drive: "\f15c";
    $font-Flaticon-east: "\f15d";
    $font-Flaticon-ecg: "\f15e";
    $font-Flaticon-eco-energy: "\f15f";
    $font-Flaticon-eggs: "\f160";
    $font-Flaticon-engine: "\f161";
    $font-Flaticon-expand: "\f162";
    $font-Flaticon-extinguisher: "\f163";
    $font-Flaticon-factory-building: "\f164";
    $font-Flaticon-fan: "\f165";
    $font-Flaticon-feeding-bottle: "\f166";
    $font-Flaticon-female-user: "\f167";
    $font-Flaticon-fencing: "\f168";
    $font-Flaticon-ferry: "\f169";
    $font-Flaticon-fire-flame: "\f16a";
    $font-Flaticon-firewall: "\f16b";
    $font-Flaticon-first-aid-kit: "\f16c";
    $font-Flaticon-fishing-boat: "\f16d";
    $font-Flaticon-flamingo: "\f16e";
    $font-Flaticon-flask: "\f16f";
    $font-Flaticon-flask-1: "\f170";
    $font-Flaticon-foot-print: "\f171";
    $font-Flaticon-football: "\f172";
    $font-Flaticon-football-player: "\f173";
    $font-Flaticon-fork: "\f174";
    $font-Flaticon-french-fries: "\f175";
    $font-Flaticon-garbage: "\f176";
    $font-Flaticon-german-hat: "\f177";
    $font-Flaticon-great-wall-of-china: "\f178";
    $font-Flaticon-gun: "\f179";
    $font-Flaticon-hamburguer: "\f17a";
    $font-Flaticon-hand: "\f17b";
    $font-Flaticon-hand-1: "\f17c";
    $font-Flaticon-hand-2: "\f17d";
    $font-Flaticon-heart: "\f17e";
    $font-Flaticon-hearts: "\f17f";
    $font-Flaticon-helicopter: "\f180";
    $font-Flaticon-helmet: "\f181";
    $font-Flaticon-hierarchical-order: "\f182";
    $font-Flaticon-hierarchical-structure: "\f183";
    $font-Flaticon-hierarchy: "\f184";
    $font-Flaticon-hierarchy-levels: "\f185";
    $font-Flaticon-high-temperature: "\f186";
    $font-Flaticon-holy-book: "\f187";
    $font-Flaticon-home: "\f188";
    $font-Flaticon-honey-jar: "\f189";
    $font-Flaticon-hot-dog: "\f18a";
    $font-Flaticon-hot-dog-1: "\f18b";
    $font-Flaticon-hydro-power-generation: "\f18c";
    $font-Flaticon-integrated-chip: "\f18d";
    $font-Flaticon-integrated-circuit: "\f18e";
    $font-Flaticon-ip-locator: "\f18f";
    $font-Flaticon-islam: "\f190";
    $font-Flaticon-jump-rope: "\f191";
    $font-Flaticon-knife: "\f192";
    $font-Flaticon-knife-1: "\f193";
    $font-Flaticon-ladder: "\f194";
    $font-Flaticon-ladder-1: "\f195";
    $font-Flaticon-lantern: "\f196";
    $font-Flaticon-led: "\f197";
    $font-Flaticon-leg: "\f198";
    $font-Flaticon-lifter: "\f199";
    $font-Flaticon-lifting-tool: "\f19a";
    $font-Flaticon-light-microchip: "\f19b";
    $font-Flaticon-lightning: "\f19c";
    $font-Flaticon-lightning-bolt: "\f19d";
    $font-Flaticon-link: "\f19e";
    $font-Flaticon-locator: "\f19f";
    $font-Flaticon-low-temperature: "\f1a0";
    $font-Flaticon-low-temperature-1: "\f1a1";
    $font-Flaticon-mac: "\f1a2";
    $font-Flaticon-magic-wand: "\f1a3";
    $font-Flaticon-magnifying-glass: "\f1a4";
    $font-Flaticon-male-user: "\f1a5";
    $font-Flaticon-man: "\f1a6";
    $font-Flaticon-map: "\f1a7";
    $font-Flaticon-mask: "\f1a8";
    $font-Flaticon-mask-1: "\f1a9";
    $font-Flaticon-medal: "\f1aa";
    $font-Flaticon-medication-capsule: "\f1ab";
    $font-Flaticon-memory-chip: "\f1ac";
    $font-Flaticon-menorah: "\f1ad";
    $font-Flaticon-mexican-hat: "\f1ae";
    $font-Flaticon-microscope: "\f1af";
    $font-Flaticon-mobile-tower: "\f1b0";
    $font-Flaticon-moon-and-stars: "\f1b1";
    $font-Flaticon-mosque: "\f1b2";
    $font-Flaticon-motorcycle: "\f1b3";
    $font-Flaticon-mountain-biking: "\f1b4";
    $font-Flaticon-musical-note: "\f1b5";
    $font-Flaticon-musical-note-1: "\f1b6";
    $font-Flaticon-navigation-button: "\f1b7";
    $font-Flaticon-neck: "\f1b8";
    $font-Flaticon-nuclear-cells: "\f1b9";
    $font-Flaticon-painting: "\f1ba";
    $font-Flaticon-paper-bird: "\f1bb";
    $font-Flaticon-pc: "\f1bc";
    $font-Flaticon-pepper: "\f1bd";
    $font-Flaticon-pin: "\f1be";
    $font-Flaticon-ping-pong: "\f1bf";
    $font-Flaticon-piston: "\f1c0";
    $font-Flaticon-pizza: "\f1c1";
    $font-Flaticon-plant-leaf: "\f1c2";
    $font-Flaticon-plug: "\f1c3";
    $font-Flaticon-pointing: "\f1c4";
    $font-Flaticon-power-plant: "\f1c5";
    $font-Flaticon-pranava: "\f1c6";
    $font-Flaticon-prelum: "\f1c7";
    $font-Flaticon-pretzel: "\f1c8";
    $font-Flaticon-pyramids: "\f1c9";
    $font-Flaticon-rabbit: "\f1ca";
    $font-Flaticon-radioactive: "\f1cb";
    $font-Flaticon-rainbow: "\f1cc";
    $font-Flaticon-rainbow-and-cloud: "\f1cd";
    $font-Flaticon-raindrops: "\f1ce";
    $font-Flaticon-recycle: "\f1cf";
    $font-Flaticon-red-hot-chili-pepper: "\f1d0";
    $font-Flaticon-remote-control: "\f1d1";
    $font-Flaticon-resistor: "\f1d2";
    $font-Flaticon-robotic-arm: "\f1d3";
    $font-Flaticon-rocket: "\f1d4";
    $font-Flaticon-router: "\f1d5";
    $font-Flaticon-router-1: "\f1d6";
    $font-Flaticon-royal-crown: "\f1d7";
    $font-Flaticon-rugby-ball: "\f1d8";
    $font-Flaticon-runner: "\f1d9";
    $font-Flaticon-running-man: "\f1da";
    $font-Flaticon-sagrada-familia: "\f1db";
    $font-Flaticon-sail-boat: "\f1dc";
    $font-Flaticon-satellite: "\f1dd";
    $font-Flaticon-satellite-transmission: "\f1de";
    $font-Flaticon-school-van: "\f1df";
    $font-Flaticon-scissor: "\f1e0";
    $font-Flaticon-scooter: "\f1e1";
    $font-Flaticon-screen: "\f1e2";
    $font-Flaticon-segment-display: "\f1e3";
    $font-Flaticon-server: "\f1e4";
    $font-Flaticon-settings: "\f1e5";
    $font-Flaticon-shield: "\f1e6";
    $font-Flaticon-shield-1: "\f1e7";
    $font-Flaticon-shield-2: "\f1e8";
    $font-Flaticon-shield-3: "\f1e9";
    $font-Flaticon-shield-4: "\f1ea";
    $font-Flaticon-shield-5: "\f1eb";
    $font-Flaticon-shield-application: "\f1ec";
    $font-Flaticon-shield-user: "\f1ed";
    $font-Flaticon-shopping-basket: "\f1ee";
    $font-Flaticon-shoulders: "\f1ef";
    $font-Flaticon-signal-dish-satellite: "\f1f0";
    $font-Flaticon-ski: "\f1f1";
    $font-Flaticon-smoke-mask: "\f1f2";
    $font-Flaticon-snow-flakes: "\f1f3";
    $font-Flaticon-snowflake: "\f1f4";
    $font-Flaticon-solar-panel: "\f1f5";
    $font-Flaticon-south-in-compass: "\f1f6";
    $font-Flaticon-spades: "\f1f7";
    $font-Flaticon-spark: "\f1f8";
    $font-Flaticon-spark-plug: "\f1f9";
    $font-Flaticon-speedometer: "\f1fa";
    $font-Flaticon-spindle: "\f1fb";
    $font-Flaticon-spoon: "\f1fc";
    $font-Flaticon-spoon-1: "\f1fd";
    $font-Flaticon-squares: "\f1fe";
    $font-Flaticon-star-of-david: "\f1ff";
    $font-Flaticon-steering-wheel: "\f200";
    $font-Flaticon-steering-wheel-1: "\f201";
    $font-Flaticon-stethoscope: "\f202";
    $font-Flaticon-storage: "\f203";
    $font-Flaticon-storm: "\f204";
    $font-Flaticon-street-signals: "\f205";
    $font-Flaticon-streetcar: "\f206";
    $font-Flaticon-sugar: "\f207";
    $font-Flaticon-sun: "\f208";
    $font-Flaticon-sun-1: "\f209";
    $font-Flaticon-sushi-and-chopsticks: "\f20a";
    $font-Flaticon-swimmer: "\f20b";
    $font-Flaticon-syringe: "\f20c";
    $font-Flaticon-t-shirt: "\f20d";
    $font-Flaticon-tag: "\f20e";
    $font-Flaticon-tanakh: "\f20f";
    $font-Flaticon-taxi: "\f210";
    $font-Flaticon-teapot: "\f211";
    $font-Flaticon-teapot-1: "\f212";
    $font-Flaticon-television-remote-control: "\f213";
    $font-Flaticon-temperature: "\f214";
    $font-Flaticon-tennis: "\f215";
    $font-Flaticon-thermometer: "\f216";
    $font-Flaticon-thermometer-1: "\f217";
    $font-Flaticon-thermometer-2: "\f218";
    $font-Flaticon-thermometer-3: "\f219";
    $font-Flaticon-thermometer-4: "\f21a";
    $font-Flaticon-thor-hammer: "\f21b";
    $font-Flaticon-three-fingers: "\f21c";
    $font-Flaticon-thumb-down: "\f21d";
    $font-Flaticon-thumbs-up: "\f21e";
    $font-Flaticon-toilet-paper: "\f21f";
    $font-Flaticon-torii: "\f220";
    $font-Flaticon-torso: "\f221";
    $font-Flaticon-trailer: "\f222";
    $font-Flaticon-train: "\f223";
    $font-Flaticon-two-fingers: "\f224";
    $font-Flaticon-ufo: "\f225";
    $font-Flaticon-umbrella: "\f226";
    $font-Flaticon-user: "\f227";
    $font-Flaticon-users: "\f228";
    $font-Flaticon-users-1: "\f229";
    $font-Flaticon-van: "\f22a";
    $font-Flaticon-viking-helmet: "\f22b";
    $font-Flaticon-viking-ship: "\f22c";
    $font-Flaticon-volleyball: "\f22d";
    $font-Flaticon-warning: "\f22e";
    $font-Flaticon-water-jet-ski: "\f22f";
    $font-Flaticon-weight-lifter: "\f230";
    $font-Flaticon-west: "\f231";
    $font-Flaticon-wifi: "\f232";
    $font-Flaticon-wifi-1: "\f233";
    $font-Flaticon-wifi-chip: "\f234";
    $font-Flaticon-windmill: "\f235";
    $font-Flaticon-window-in-a-pc-monitor-screen: "\f236";
    $font-Flaticon-windy: "\f237";
    $font-Flaticon-windy-1: "\f238";
    $font-Flaticon-wine-glass: "\f239";
    $font-Flaticon-wine-glass-1: "\f23a";
    $font-Flaticon-wireless-connection: "\f23b";
    $font-Flaticon-wireless-signal: "\f23c";
    $font-Flaticon-wireless-signal-1: "\f23d";
    $font-Flaticon-wolf: "\f23e";
    $font-Flaticon-woman: "\f23f";
    $font-Flaticon-world-wide-web: "\f240";
    $font-Flaticon-x-ray: "\f241";
    $font-Flaticon-yacht: "\f242";
    $font-Flaticon-yacht-1: "\f243";
    $font-Flaticon-yin-yang: "\f244";