	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:44
  	*/

@font-face {
  font-family: "iOSLined2";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "iOSLined2";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="fi-lined2-"]:before, [class*=" fi-lined2-"]:before,
[class^="fi-lined2-"]:after, [class*=" fi-lined2-"]:after {
  font-family: iOSLined2;
  font-style : normal;
}

.fi-lined2-aeroplane:before { content: "\f100"; }
.fi-lined2-airplane:before { content: "\f101"; }
.fi-lined2-airplane-1:before { content: "\f102"; }
.fi-lined2-ambulance:before { content: "\f103"; }
.fi-lined2-ankh:before { content: "\f104"; }
.fi-lined2-antenna:before { content: "\f105"; }
.fi-lined2-arc:before { content: "\f106"; }
.fi-lined2-atom:before { content: "\f107"; }
.fi-lined2-baby:before { content: "\f108"; }
.fi-lined2-baby-bib:before { content: "\f109"; }
.fi-lined2-baby-cradle:before { content: "\f10a"; }
.fi-lined2-baby-nipple:before { content: "\f10b"; }
.fi-lined2-baby-trolley:before { content: "\f10c"; }
.fi-lined2-badminton:before { content: "\f10d"; }
.fi-lined2-band-aid:before { content: "\f10e"; }
.fi-lined2-baseball:before { content: "\f10f"; }
.fi-lined2-basketball:before { content: "\f110"; }
.fi-lined2-battery:before { content: "\f111"; }
.fi-lined2-beer:before { content: "\f112"; }
.fi-lined2-biceps:before { content: "\f113"; }
.fi-lined2-bicycle:before { content: "\f114"; }
.fi-lined2-blades:before { content: "\f115"; }
.fi-lined2-blocks:before { content: "\f116"; }
.fi-lined2-bluetooth:before { content: "\f117"; }
.fi-lined2-bottle:before { content: "\f118"; }
.fi-lined2-bottle-1:before { content: "\f119"; }
.fi-lined2-bottle-2:before { content: "\f11a"; }
.fi-lined2-bowling:before { content: "\f11b"; }
.fi-lined2-bowling-pins:before { content: "\f11c"; }
.fi-lined2-boxing-gloves:before { content: "\f11d"; }
.fi-lined2-branderbourg-gate:before { content: "\f11e"; }
.fi-lined2-bread:before { content: "\f11f"; }
.fi-lined2-broken-link:before { content: "\f120"; }
.fi-lined2-bug:before { content: "\f121"; }
.fi-lined2-bus:before { content: "\f122"; }
.fi-lined2-cake:before { content: "\f123"; }
.fi-lined2-cap:before { content: "\f124"; }
.fi-lined2-car:before { content: "\f125"; }
.fi-lined2-car-1:before { content: "\f126"; }
.fi-lined2-car-2:before { content: "\f127"; }
.fi-lined2-carrot:before { content: "\f128"; }
.fi-lined2-casserole:before { content: "\f129"; }
.fi-lined2-cd:before { content: "\f12a"; }
.fi-lined2-cheese:before { content: "\f12b"; }
.fi-lined2-chest:before { content: "\f12c"; }
.fi-lined2-chichen-itza:before { content: "\f12d"; }
.fi-lined2-chicken:before { content: "\f12e"; }
.fi-lined2-chip:before { content: "\f12f"; }
.fi-lined2-circuit-board:before { content: "\f130"; }
.fi-lined2-cloud:before { content: "\f131"; }
.fi-lined2-cloud-1:before { content: "\f132"; }
.fi-lined2-cloud-2:before { content: "\f133"; }
.fi-lined2-cloud-expand:before { content: "\f134"; }
.fi-lined2-cloud-storage:before { content: "\f135"; }
.fi-lined2-clouds:before { content: "\f136"; }
.fi-lined2-cloudy:before { content: "\f137"; }
.fi-lined2-cloudy-1:before { content: "\f138"; }
.fi-lined2-clown:before { content: "\f139"; }
.fi-lined2-clubs:before { content: "\f13a"; }
.fi-lined2-cocktail:before { content: "\f13b"; }
.fi-lined2-coffee:before { content: "\f13c"; }
.fi-lined2-cogwheel:before { content: "\f13d"; }
.fi-lined2-compass:before { content: "\f13e"; }
.fi-lined2-compass-1:before { content: "\f13f"; }
.fi-lined2-compass-2:before { content: "\f140"; }
.fi-lined2-computer:before { content: "\f141"; }
.fi-lined2-computer-micro-chip:before { content: "\f142"; }
.fi-lined2-computer-microprocessor:before { content: "\f143"; }
.fi-lined2-computer-monitor:before { content: "\f144"; }
.fi-lined2-crab:before { content: "\f145"; }
.fi-lined2-crescent-moon-behind-a-cloud:before { content: "\f146"; }
.fi-lined2-cross:before { content: "\f147"; }
.fi-lined2-crown:before { content: "\f148"; }
.fi-lined2-cruise-ship:before { content: "\f149"; }
.fi-lined2-crying-baby:before { content: "\f14a"; }
.fi-lined2-cycle:before { content: "\f14b"; }
.fi-lined2-cycling:before { content: "\f14c"; }
.fi-lined2-cyclist:before { content: "\f14d"; }
.fi-lined2-dart-board:before { content: "\f14e"; }
.fi-lined2-dentist-tool:before { content: "\f14f"; }
.fi-lined2-dharma-chakra:before { content: "\f150"; }
.fi-lined2-diamond:before { content: "\f151"; }
.fi-lined2-diapers:before { content: "\f152"; }
.fi-lined2-dish:before { content: "\f153"; }
.fi-lined2-disk-storage:before { content: "\f154"; }
.fi-lined2-dna:before { content: "\f155"; }
.fi-lined2-documentary:before { content: "\f156"; }
.fi-lined2-drive-disk:before { content: "\f157"; }
.fi-lined2-drive-link:before { content: "\f158"; }
.fi-lined2-drive-sata:before { content: "\f159"; }
.fi-lined2-drop:before { content: "\f15a"; }
.fi-lined2-dumbbell:before { content: "\f15b"; }
.fi-lined2-dvd-drive:before { content: "\f15c"; }
.fi-lined2-east:before { content: "\f15d"; }
.fi-lined2-ecg:before { content: "\f15e"; }
.fi-lined2-eco-energy:before { content: "\f15f"; }
.fi-lined2-eggs:before { content: "\f160"; }
.fi-lined2-engine:before { content: "\f161"; }
.fi-lined2-expand:before { content: "\f162"; }
.fi-lined2-extinguisher:before { content: "\f163"; }
.fi-lined2-factory-building:before { content: "\f164"; }
.fi-lined2-fan:before { content: "\f165"; }
.fi-lined2-feeding-bottle:before { content: "\f166"; }
.fi-lined2-female-user:before { content: "\f167"; }
.fi-lined2-fencing:before { content: "\f168"; }
.fi-lined2-ferry:before { content: "\f169"; }
.fi-lined2-fire-flame:before { content: "\f16a"; }
.fi-lined2-firewall:before { content: "\f16b"; }
.fi-lined2-first-aid-kit:before { content: "\f16c"; }
.fi-lined2-fishing-boat:before { content: "\f16d"; }
.fi-lined2-flamingo:before { content: "\f16e"; }
.fi-lined2-flask:before { content: "\f16f"; }
.fi-lined2-flask-1:before { content: "\f170"; }
.fi-lined2-foot-print:before { content: "\f171"; }
.fi-lined2-football:before { content: "\f172"; }
.fi-lined2-football-player:before { content: "\f173"; }
.fi-lined2-fork:before { content: "\f174"; }
.fi-lined2-french-fries:before { content: "\f175"; }
.fi-lined2-garbage:before { content: "\f176"; }
.fi-lined2-german-hat:before { content: "\f177"; }
.fi-lined2-great-wall-of-china:before { content: "\f178"; }
.fi-lined2-gun:before { content: "\f179"; }
.fi-lined2-hamburguer:before { content: "\f17a"; }
.fi-lined2-hand:before { content: "\f17b"; }
.fi-lined2-hand-1:before { content: "\f17c"; }
.fi-lined2-hand-2:before { content: "\f17d"; }
.fi-lined2-heart:before { content: "\f17e"; }
.fi-lined2-hearts:before { content: "\f17f"; }
.fi-lined2-helicopter:before { content: "\f180"; }
.fi-lined2-helmet:before { content: "\f181"; }
.fi-lined2-hierarchical-order:before { content: "\f182"; }
.fi-lined2-hierarchical-structure:before { content: "\f183"; }
.fi-lined2-hierarchy:before { content: "\f184"; }
.fi-lined2-hierarchy-levels:before { content: "\f185"; }
.fi-lined2-high-temperature:before { content: "\f186"; }
.fi-lined2-holy-book:before { content: "\f187"; }
.fi-lined2-home:before { content: "\f188"; }
.fi-lined2-honey-jar:before { content: "\f189"; }
.fi-lined2-hot-dog:before { content: "\f18a"; }
.fi-lined2-hot-dog-1:before { content: "\f18b"; }
.fi-lined2-hydro-power-generation:before { content: "\f18c"; }
.fi-lined2-integrated-chip:before { content: "\f18d"; }
.fi-lined2-integrated-circuit:before { content: "\f18e"; }
.fi-lined2-ip-locator:before { content: "\f18f"; }
.fi-lined2-islam:before { content: "\f190"; }
.fi-lined2-jump-rope:before { content: "\f191"; }
.fi-lined2-knife:before { content: "\f192"; }
.fi-lined2-knife-1:before { content: "\f193"; }
.fi-lined2-ladder:before { content: "\f194"; }
.fi-lined2-ladder-1:before { content: "\f195"; }
.fi-lined2-lantern:before { content: "\f196"; }
.fi-lined2-led:before { content: "\f197"; }
.fi-lined2-leg:before { content: "\f198"; }
.fi-lined2-lifter:before { content: "\f199"; }
.fi-lined2-lifting-tool:before { content: "\f19a"; }
.fi-lined2-light-microchip:before { content: "\f19b"; }
.fi-lined2-lightning:before { content: "\f19c"; }
.fi-lined2-lightning-bolt:before { content: "\f19d"; }
.fi-lined2-link:before { content: "\f19e"; }
.fi-lined2-locator:before { content: "\f19f"; }
.fi-lined2-low-temperature:before { content: "\f1a0"; }
.fi-lined2-low-temperature-1:before { content: "\f1a1"; }
.fi-lined2-mac:before { content: "\f1a2"; }
.fi-lined2-magic-wand:before { content: "\f1a3"; }
.fi-lined2-magnifying-glass:before { content: "\f1a4"; }
.fi-lined2-male-user:before { content: "\f1a5"; }
.fi-lined2-man:before { content: "\f1a6"; }
.fi-lined2-map:before { content: "\f1a7"; }
.fi-lined2-mask:before { content: "\f1a8"; }
.fi-lined2-mask-1:before { content: "\f1a9"; }
.fi-lined2-medal:before { content: "\f1aa"; }
.fi-lined2-medication-capsule:before { content: "\f1ab"; }
.fi-lined2-memory-chip:before { content: "\f1ac"; }
.fi-lined2-menorah:before { content: "\f1ad"; }
.fi-lined2-mexican-hat:before { content: "\f1ae"; }
.fi-lined2-microscope:before { content: "\f1af"; }
.fi-lined2-mobile-tower:before { content: "\f1b0"; }
.fi-lined2-moon-and-stars:before { content: "\f1b1"; }
.fi-lined2-mosque:before { content: "\f1b2"; }
.fi-lined2-motorcycle:before { content: "\f1b3"; }
.fi-lined2-mountain-biking:before { content: "\f1b4"; }
.fi-lined2-musical-note:before { content: "\f1b5"; }
.fi-lined2-musical-note-1:before { content: "\f1b6"; }
.fi-lined2-navigation-button:before { content: "\f1b7"; }
.fi-lined2-neck:before { content: "\f1b8"; }
.fi-lined2-nuclear-cells:before { content: "\f1b9"; }
.fi-lined2-painting:before { content: "\f1ba"; }
.fi-lined2-paper-bird:before { content: "\f1bb"; }
.fi-lined2-pc:before { content: "\f1bc"; }
.fi-lined2-pepper:before { content: "\f1bd"; }
.fi-lined2-pin:before { content: "\f1be"; }
.fi-lined2-ping-pong:before { content: "\f1bf"; }
.fi-lined2-piston:before { content: "\f1c0"; }
.fi-lined2-pizza:before { content: "\f1c1"; }
.fi-lined2-plant-leaf:before { content: "\f1c2"; }
.fi-lined2-plug:before { content: "\f1c3"; }
.fi-lined2-pointing:before { content: "\f1c4"; }
.fi-lined2-power-plant:before { content: "\f1c5"; }
.fi-lined2-pranava:before { content: "\f1c6"; }
.fi-lined2-prelum:before { content: "\f1c7"; }
.fi-lined2-pretzel:before { content: "\f1c8"; }
.fi-lined2-pyramids:before { content: "\f1c9"; }
.fi-lined2-rabbit:before { content: "\f1ca"; }
.fi-lined2-radioactive:before { content: "\f1cb"; }
.fi-lined2-rainbow:before { content: "\f1cc"; }
.fi-lined2-rainbow-and-cloud:before { content: "\f1cd"; }
.fi-lined2-raindrops:before { content: "\f1ce"; }
.fi-lined2-recycle:before { content: "\f1cf"; }
.fi-lined2-red-hot-chili-pepper:before { content: "\f1d0"; }
.fi-lined2-remote-control:before { content: "\f1d1"; }
.fi-lined2-resistor:before { content: "\f1d2"; }
.fi-lined2-robotic-arm:before { content: "\f1d3"; }
.fi-lined2-rocket:before { content: "\f1d4"; }
.fi-lined2-router:before { content: "\f1d5"; }
.fi-lined2-router-1:before { content: "\f1d6"; }
.fi-lined2-royal-crown:before { content: "\f1d7"; }
.fi-lined2-rugby-ball:before { content: "\f1d8"; }
.fi-lined2-runner:before { content: "\f1d9"; }
.fi-lined2-running-man:before { content: "\f1da"; }
.fi-lined2-sagrada-familia:before { content: "\f1db"; }
.fi-lined2-sail-boat:before { content: "\f1dc"; }
.fi-lined2-satellite:before { content: "\f1dd"; }
.fi-lined2-satellite-transmission:before { content: "\f1de"; }
.fi-lined2-school-van:before { content: "\f1df"; }
.fi-lined2-scissor:before { content: "\f1e0"; }
.fi-lined2-scooter:before { content: "\f1e1"; }
.fi-lined2-screen:before { content: "\f1e2"; }
.fi-lined2-segment-display:before { content: "\f1e3"; }
.fi-lined2-server:before { content: "\f1e4"; }
.fi-lined2-settings:before { content: "\f1e5"; }
.fi-lined2-shield:before { content: "\f1e6"; }
.fi-lined2-shield-1:before { content: "\f1e7"; }
.fi-lined2-shield-2:before { content: "\f1e8"; }
.fi-lined2-shield-3:before { content: "\f1e9"; }
.fi-lined2-shield-4:before { content: "\f1ea"; }
.fi-lined2-shield-5:before { content: "\f1eb"; }
.fi-lined2-shield-application:before { content: "\f1ec"; }
.fi-lined2-shield-user:before { content: "\f1ed"; }
.fi-lined2-shopping-basket:before { content: "\f1ee"; }
.fi-lined2-shoulders:before { content: "\f1ef"; }
.fi-lined2-signal-dish-satellite:before { content: "\f1f0"; }
.fi-lined2-ski:before { content: "\f1f1"; }
.fi-lined2-smoke-mask:before { content: "\f1f2"; }
.fi-lined2-snow-flakes:before { content: "\f1f3"; }
.fi-lined2-snowflake:before { content: "\f1f4"; }
.fi-lined2-solar-panel:before { content: "\f1f5"; }
.fi-lined2-south-in-compass:before { content: "\f1f6"; }
.fi-lined2-spades:before { content: "\f1f7"; }
.fi-lined2-spark:before { content: "\f1f8"; }
.fi-lined2-spark-plug:before { content: "\f1f9"; }
.fi-lined2-speedometer:before { content: "\f1fa"; }
.fi-lined2-spindle:before { content: "\f1fb"; }
.fi-lined2-spoon:before { content: "\f1fc"; }
.fi-lined2-spoon-1:before { content: "\f1fd"; }
.fi-lined2-squares:before { content: "\f1fe"; }
.fi-lined2-star-of-david:before { content: "\f1ff"; }
.fi-lined2-steering-wheel:before { content: "\f200"; }
.fi-lined2-steering-wheel-1:before { content: "\f201"; }
.fi-lined2-stethoscope:before { content: "\f202"; }
.fi-lined2-storage:before { content: "\f203"; }
.fi-lined2-storm:before { content: "\f204"; }
.fi-lined2-street-signals:before { content: "\f205"; }
.fi-lined2-streetcar:before { content: "\f206"; }
.fi-lined2-sugar:before { content: "\f207"; }
.fi-lined2-sun:before { content: "\f208"; }
.fi-lined2-sun-1:before { content: "\f209"; }
.fi-lined2-sushi-and-chopsticks:before { content: "\f20a"; }
.fi-lined2-swimmer:before { content: "\f20b"; }
.fi-lined2-syringe:before { content: "\f20c"; }
.fi-lined2-t-shirt:before { content: "\f20d"; }
.fi-lined2-tag:before { content: "\f20e"; }
.fi-lined2-tanakh:before { content: "\f20f"; }
.fi-lined2-taxi:before { content: "\f210"; }
.fi-lined2-teapot:before { content: "\f211"; }
.fi-lined2-teapot-1:before { content: "\f212"; }
.fi-lined2-television-remote-control:before { content: "\f213"; }
.fi-lined2-temperature:before { content: "\f214"; }
.fi-lined2-tennis:before { content: "\f215"; }
.fi-lined2-thermometer:before { content: "\f216"; }
.fi-lined2-thermometer-1:before { content: "\f217"; }
.fi-lined2-thermometer-2:before { content: "\f218"; }
.fi-lined2-thermometer-3:before { content: "\f219"; }
.fi-lined2-thermometer-4:before { content: "\f21a"; }
.fi-lined2-thor-hammer:before { content: "\f21b"; }
.fi-lined2-three-fingers:before { content: "\f21c"; }
.fi-lined2-thumb-down:before { content: "\f21d"; }
.fi-lined2-thumbs-up:before { content: "\f21e"; }
.fi-lined2-toilet-paper:before { content: "\f21f"; }
.fi-lined2-torii:before { content: "\f220"; }
.fi-lined2-torso:before { content: "\f221"; }
.fi-lined2-trailer:before { content: "\f222"; }
.fi-lined2-train:before { content: "\f223"; }
.fi-lined2-two-fingers:before { content: "\f224"; }
.fi-lined2-ufo:before { content: "\f225"; }
.fi-lined2-umbrella:before { content: "\f226"; }
.fi-lined2-user:before { content: "\f227"; }
.fi-lined2-users:before { content: "\f228"; }
.fi-lined2-users-1:before { content: "\f229"; }
.fi-lined2-van:before { content: "\f22a"; }
.fi-lined2-viking-helmet:before { content: "\f22b"; }
.fi-lined2-viking-ship:before { content: "\f22c"; }
.fi-lined2-volleyball:before { content: "\f22d"; }
.fi-lined2-warning:before { content: "\f22e"; }
.fi-lined2-water-jet-ski:before { content: "\f22f"; }
.fi-lined2-weight-lifter:before { content: "\f230"; }
.fi-lined2-west:before { content: "\f231"; }
.fi-lined2-wifi:before { content: "\f232"; }
.fi-lined2-wifi-1:before { content: "\f233"; }
.fi-lined2-wifi-chip:before { content: "\f234"; }
.fi-lined2-windmill:before { content: "\f235"; }
.fi-lined2-window-in-a-pc-monitor-screen:before { content: "\f236"; }
.fi-lined2-windy:before { content: "\f237"; }
.fi-lined2-windy-1:before { content: "\f238"; }
.fi-lined2-wine-glass:before { content: "\f239"; }
.fi-lined2-wine-glass-1:before { content: "\f23a"; }
.fi-lined2-wireless-connection:before { content: "\f23b"; }
.fi-lined2-wireless-signal:before { content: "\f23c"; }
.fi-lined2-wireless-signal-1:before { content: "\f23d"; }
.fi-lined2-wolf:before { content: "\f23e"; }
.fi-lined2-woman:before { content: "\f23f"; }
.fi-lined2-world-wide-web:before { content: "\f240"; }
.fi-lined2-x-ray:before { content: "\f241"; }
.fi-lined2-yacht:before { content: "\f242"; }
.fi-lined2-yacht-1:before { content: "\f243"; }
.fi-lined2-yin-yang:before { content: "\f244"; }
